[2017-10-09 16:04] ankibalyan commented on #1702
@mihiramin89 It shows the main class `cardTitle` which I added but not the nested classes for `title` and `subtitle`.

[2017-10-09 16:20] mihiramin89 commented on #1702
try the below selectors instead of .title & .subtitle

[class*='theme__title']
[class*='theme__subtitle']

[2017-10-09 16:34] mihiramin89 commented on #1702
or you could just use the `h5` selector and the `p` selector inside your .cardTitle selector.

[2017-10-09 16:54] ankibalyan commented on #1702
yep, I can use h5 and p tags, but those selectors has least priority.

[2017-10-10 10:21] Altiano opened #1710 "TimePicker component size is too big on Desktop"
![screenshot from 2017-10-10 18-19-34](https://user-images.githubusercontent.com/8316282/31381674-cc8a5520-ade7-11e7-9274-72690d72e134.png)

it will get even worse if the width of viewport smaller, say : 1360x500

[2017-10-10 17:22] gasi opened #1712 "`MenuItem` should accept `PropTypes.node` for `caption`"
This would allow us to use `<a>` anchor tags as `MenuItem` `caption`:

- https://github.com/react-toolbox/react-toolbox/blob/b381db405427f03c12bb2beeba5398ec6606956f/components/menu/MenuItem.js#L12

Please let me know if you’d be open to a PR.

Related: https://github.com/react-toolbox/react-toolbox/issues/1584

[2017-10-10 19:53] gasi commented on #1712
Turns out to support links in the `<MenuItem>`, we’d also have to extend the `<a>` tag to be a `display: block` element so the click target extends all the way.

[2017-10-10 20:07] ankibalyan commented on #1702
@mihiramin89 @rubenmoya thank you for all your support. I was able to dig further and resolves the problem.

While defining the stying, I'd have to provide the class names in theme param, and define those classes separately. I was doing this as combined stuff. lame :/

    <CardTitle
        avatar="https://placeimg.com/80/80/animals"
        title="Avatar style title"
        subtitle="Subtitle h

[2017-10-11 11:48] mateoKaradza opened #1714 "Dropdown source item set as disabled throws warning"
Dropdown component throws warning when one of the source items has property disables as true.
When item is set as disabled, it works properly, but because of the PropTypes it throws a warning in console.

https://github.com/react-toolbox/react-toolbox/blob/dev/components/dropdown/Dropdown.js#L183

[code]

[2017-10-11 16:39] #1705 closed

[2017-10-11 16:39] theskillwithin opened #1715 "update 1.3.4 to work with react16"
attempting to fork the 1.3.4 version and run proptypes update script
https://github.com/theskillwithin/mojo-rt

https://blog.discordapp.com/lessons-from-migrating-a-large-codebase-to-react-16-e60e49102aa6

[2017-10-11 19:38] Goregut commented on #1621
Dropdown seems to do it as well

[2017-10-12 12:50] melnikoffalexandr commented on #719
I did not understand how to attach to the react-toolbox input, the mask. Please detail.

[2017-10-12 18:42] romgrk commented on #719
- Copy the file in your project
 - `npm install inputmask-core`
[code]

I'd recommend using @zanzamar 's version as it doesn't use `React.createClass`, which is gone in newer react versions.

[2017-10-12 20:34] tech4him1 commented on #1703
@rubenmoya Is there any status update that we can follow for v3?

[2017-10-13 04:06] melnikoffalexandr commented on #719
already there is a ready-made component. How to attach to it?

/***** previous code*****/

render() {
    const {label, hint, required} = this.props;

    let content = (<Input
        type="tel"
        label={label}
        name="phone"
        hint={hint}
        maxLength={11 }
        required={required}
        value={this.props.value}
        onChange={this.handleChange}
        onKeyPress=

[2017-10-13 05:38] melnikoffalexandr commented on #719
Not modiffed my component

[2017-10-13 17:38] romgrk commented on #719
Please edit your comment to put all code inside the \`\`\`backtick block\`\`\`, and enable syntax highlighting by placing the language identifier after the opening backticks as such:
[code]
Regarding your issue, you just need to replace your `<Input />` component with a `<MaskedInput />`. Most of the props are passed from the `<MaskedInput>` to the `<Input>`, but there are a few exceptions; see th

[2017-10-13 22:40] bionikspoon commented on #1703
Updated v1 to be react16 compatible.

https://github.com/react-toolbox/react-toolbox/compare/1.3.4...bionikspoon:mp_react_16

I don't know your release process.  It has green tests.  And I'm going to test it in a private app at work.

Note:  Had to update `react-css-themr`.  Should probably wait until they merge my changes.  Can follow that conversation here: https://github.com/javivelasco/react-c

[2017-10-14 14:09] #1706 closed

[2017-10-15 15:52] melnikoffalexandr commented on #719
Input from the React Toolbox, when I change to Masked Input, the design changes. How to save the Input design from the React Toolbox

[2017-10-17 08:15] alexeyMohnatkin commented on #1151
`touch ${react-toolbox-path}/components/commons.css` not working
docs are totally broken

[2017-10-17 08:16] alexeyMohnatkin commented on #1392
@hansena it's not clear how to redefine color variables globally.
`@value color-primary: var(--palette-deep-purple-500);`
How this will redefine `--color-primary`?
Also I wanted to look how it's realized in docs, but it's not working  (#1151).

[2017-10-17 13:56] hansena commented on #1392
Comment

[2017-10-18 01:16] jasonmorita commented on #1169
@joelzimmer For the record, you can use this component with AJAX. I did this today using this HOC (Full disclosure: that I made) https://www.npmjs.com/package/react-redux-ui-state

Here is the example I got working, hopefully someone can use it:

[code]

[2017-10-18 06:16] sahilamoli commented on #1429
Hey @tobiasandersen, I created a pull request to add support for this -- https://github.com/react-toolbox/react-toolbox/pull/1718

It's my first pull request to react-toolbox so let me know if I need to change anything.

Thanks!

[2017-10-18 13:55] roadev commented on #1715
Have you sent a PR?
I could help with the "PropTypes" proccess

[2017-10-18 15:27] theskillwithin commented on #1715
@roadev so on my fork i ran the
`jscodeshift -t ./react-codemod/transforms/React-PropTypes-to-prop-types.js /path/to/your/repo`

however I don't know how to compare to a previous release in github.

it looks like @bionikspoon may have accomplished a pr, but this not sure if its a new release yet

[2017-10-19 15:27] bionikspoon commented on #1715
related conversation: #1703

The work is done, but need a branch synced to `tag:1.3.4` to submit an accurate pr.

[2017-10-19 15:49] bionikspoon commented on #1703
Updates:

I published a built version of this here: https://github.com/bionikspoon/react-toolbox/tree/react_16_build

In the short term, my team will be using this.  The app is on a private repo, but I'll keep this thread posted on it's journey to be used in production:

- [x] open pr
- [x] review app open, properly builds, tests pass, and passes a basic click test
- [x] team signoff
- [ ] qa sign

[2017-10-19 19:40] theskillwithin commented on #1703
@bionikspoon
[code]

[2017-10-19 21:17] theskillwithin commented on #1703
@bionikspoon
https://github.com/reactjs/react-transition-group/blob/master/Migration.md
could you update to add this?

[2017-10-21 11:54] hansena commented on #1707
Check out #1392

[2017-10-23 20:14] arcifius opened #1721 "Input issue"
![image](https://user-images.githubusercontent.com/11210923/31910398-1dd24fda-b81c-11e7-8818-a086420b4f69.png)
even calling this on componenDidMount()
```this.userInput.props.onChange();```
I cant get the values previously stored on browser...
This only happens when one user is stored.

[2017-10-23 21:35] codeaimh commented on #1358
Hello guys I have the same problem :( Can somebody please help me to fix it? I tried to add what Miguel-orange said, but I don't know where to put it :(

[2017-10-23 22:00] miguel-orange commented on #1358
@codeaimh,
You'll want to add that in webpack.config.js 's plugins array. But more importantly I was starting with this [migration guide](https://github.com/react-toolbox/react-toolbox/wiki/Migrating-from-version-1.3-to-2.0). I hope it's still relevant.

[2017-10-23 22:11] ralexandr commented on #1455
I have the same error, does anybody know how to fix it?

[2017-10-24 06:50] Secretmapper opened #1722 "Styled-Components migration"
@javivelasco wrote updates on twitter and on some issues in this repo about switching the postcss to styled-components. Have there been any updates on this? There doesn't seem to be any issues that is tracking this here.

I'd love to know if this is something that's still in the roadmap, and/or if there's anything contributors can help with on the styled-components migration.

This is a big depend

[2017-10-24 21:43] oliviertassinari commented on #1722
@Secretmapper As far as I know, you can find the effort on the [agnostic-typescript](https://github.com/react-toolbox/react-toolbox/commits/agnostic-typescript) branch.

[2017-10-24 23:45] sahilamoli commented on #1700
There isn't a standard way to know if a rendered element is truncated and it really shouldn't be built into the tooltip component. You can do some calculations to figure out if a rendered element is truncated and only then render the Tooltip component or even just add a forced hidden class whenever the calculation suggests that the element isn't truncated.

I put up a quick gist to show you how yo

[2017-10-25 13:09] chenop commented on #1410
I was getting this error for a whlie , until I figure out that the following line also produce this error:
`import * as React from "react";`
Fixing to the following in all my files:
`import React from "react";`
Did the trick for me.

[2017-10-26 03:50] wendelcosta opened #1724 "Dropdown error prop to accept string and node"
Hi guys, is it possible to make this change so I can make the dropdown component work as the other ones using react-redux-forms?

[2017-10-26 13:48] jervtub opened #1726 "Styling does not get applied to a basic button"
I got stuck on this issue for a long time, I followed this procedure:
- Install `react-css-themr`
- Install `react-toolbox-themr`
- Add to `package.json`
[code]
- Install the theme with with `react-toolbox-themr`
- Add to my `Index.tsx` ( I am using Typescript)
[code]
Both
[code]
and
[code]
give as output  a single button without any styling:
![button](https://user-images.githubusercontent.com/149

[2017-10-26 22:28] jervtub commented on #1726
I forgot to import the css itself ...
[code]

[2017-10-26 22:28] #1726 closed

[2017-10-27 03:01] MrJoy opened #1727 "Input field label misbehaves when field is in error state."
http://react-toolbox.com/#/components/input

1. Go to the last input field in the playground.
1. Enter a value.
1. Move focus out of the field.

Note that the label sweeps down over the input area.

[2017-10-27 03:05] MrJoy opened #1728 "Cursor misbehaves on input fields in table."
http://react-toolbox.com/#/components/table

1. Open sandbox
1. Attempt to edit any text/date field to add/remove text in the middle / at the end

Cursor is reset to start of field after each edit.  I've seen this behavior resolve itself on Safari after navigating to another section of the docs and navigating back, but it seems to happen fairly reliably on first page load.

[2017-10-28 06:02] VinodLouis commented on #1436
For a workaround I did via css

div[data-react-toolbox=dialog] > section{
  overflow: auto;
}

[2017-10-28 06:03] VinodLouis commented on #894
I did a workaround css using

div[data-react-toolbox=dialog] > section{
  overflow: auto;
}

[2017-10-28 21:06] girdharmalhotra opened #1729 "Menu Component does not update wrapper width and height when receiving new children"
The Menu component seems to be using/caching the previously rendered items width and height and does not update to the new width and height of the newly received menu items.

<img width="165" alt="screen shot 2017-10-28 at 4 55 45 pm" src="https://user-images.githubusercontent.com/11166776/32138482-7f026b62-bc01-11e7-8cd3-5cf5f6eeebe7.png">

In the above image, the number of items rendered previou

[2017-10-29 20:28] Adamfsk opened #1730 "Disabled slider can be modified with keyboard input"
On the demo page, if you use tab to select the disabled slider, then use the up and down arrows on the keyboard, the value of the disabled slider can be changed.

[2017-10-31 05:53] AOHUA opened #1731 "What's wrong with the react-toolbox home page?"
I'm was planning to use react-toolbox on a new project. But I cannot see any examples and usages on the home page anymore. Where else can I find it? Thank you!

[2017-10-31 08:36] weizlini commented on #1731
looks like the domain expired ?

[2017-10-31 20:20] chadfawcett opened #1733 "Cannot build docs"
Since the website is down (#1731) I decided to setup a copy locally. I ran through the steps under [Authors and Contributors](https://github.com/react-toolbox/react-toolbox#authors-and-contributors). I receive various errors:

I first ran it with `node v8.4.0` and received errors when attempting to run `npm start`.

I then tried using `node v4.8.5` and then `node v4.2.1` and both result in an erro

[2017-10-31 20:38] chadfawcett commented on #1733
For anyone needed access, I've deployed the `gh-pages` branch to Netlify https://peddler-jam-26368.netlify.com

[2017-10-31 20:38] chadfawcett commented on #1731
For anyone needed access, I've deployed the gh-pages branch to Netlify https://peddler-jam-26368.netlify.com

[2017-10-31 20:47] rubenmoya commented on #1733
Thank you! :)

[2017-11-01 09:20] deSargeSoftware opened #1734 "react-toolbox domain is down (http://react-toolbox.com/)"
http://react-toolbox.com/ is down: This Domain Name Has Expired. Could you please renew it :)? Thanks

[2017-11-01 09:55] vampxlr commented on #1734
Eagerly waiting for it to come up live again.

[2017-11-01 15:02] roadev commented on #1734
It will be awesome if you move to Github Pages.

[2017-11-01 17:20] deSargeSoftware commented on #1734
Until is up, you can use this one: https://peddler-jam-26368.netlify.com/#/ (I received as well).

[2017-11-02 00:55] neoromantic commented on #1734
Funny that how that is happening every year :)

[2017-11-02 01:51] guacamoli commented on #1700
@codecalypso, did this solve your issue?

[2017-11-02 02:02] drunkengranite commented on #1734
bump

[2017-11-02 07:51] vikaskyadav opened #1735 "Issue in using nested object in usermodel"
I have been trying to use table component and now I have to use nested object inside the usermodel. Can anybody help me with that?

[2017-11-02 11:14] vikaskyadav opened #1736 "Accessing particular table element"
When using the userModel Schema, how can I access a particular cell of the table?

[2017-11-02 17:49] MichaelGregory commented on #1348
The`title` prop on `CardTitle` component accepts markup which will be rendered inside the H5 element. Specify something along the lines of
[code]

You'll need to use CSS to get the alignment right, including specifying a width on the DIV containing the H5.

[2017-11-02 20:39] eduardoinnorway commented on #1644
Can you please provide any more info?

[2017-11-03 14:26] mgcrea commented on #1731
@rubenmoya Any reason you did not setup a fallback on http://react-toolbox.github.io/react-toolbox? Would seem to be the most quick and easy fix to address this, update the README while the .com issue is settled.

[2017-11-03 14:28] mgcrea commented on #1734
Duplicate of #1731

[2017-11-03 17:16] arikanmstf opened #1739 "Inside head tag, <style> tags including --palette variables."
Hello, when I use RT 2 Beta, There are so many <style> tags inside the <head> . I assume somehow webpack imports theme.css files. Is that really necessary to include them. How to avoid ? Because it slows the app.

Version info:

react-toolbox-themr: 1.0.2
react-toolbox: 2.0.0-beta.12
webpack: 3.3.0
react: 15.6.1

Project available at: https://github.com/arikanmstf/mylibrary

Screenshot:

<img widt

[2017-11-03 18:03] chadfawcett commented on #1731
@mgcrea I can't answer why it hasn't been yet, but there is a PR fixing this if you wanted to give it a :+1: https://github.com/react-toolbox/react-toolbox/pull/1732

[2017-11-03 18:09] hansena commented on #1680
Currently working around this issue using
[code]
when toggling the sidebar...  hacky but effective

[2017-11-03 21:05] arikanmstf commented on #1739
I tracked the commits, and I can say that the bug comes from
`<Link>` component.
Whenever I import the `<Link>` component like `import Link from 'react-toolbox/lib/Link'` includes style tags.

[2017-11-03 21:16] arikanmstf commented on #1739
When I change the `import Link from 'react-toolbox/lib/link ` to `import Link from 'react-toolbox/lib/link/Link` the error gone.
Problem is, that error happens at all of the components imported without theme.
Like `import { Card, CardMedia, CardTitle, CardActions } from 'react-toolbox/lib/card';`
or
`import { Table, TableHead, TableRow, TableCell } from 'react-toolbox/lib/table';`

There is define

[2017-11-04 00:50] aislanmaia opened #1740 "React Toolbox 2.0 - How to import the Panel component ???"
I'm trying to convert a old project with react to use create-react-app and that is my opportunity to use the new version React-Toolbox 2.0-beta. But I'm really confused with docs outdated.

The project is configured using the instructions from the [react-toolbox-themr](https://github.com/react-toolbox/react-toolbox-themr) page. However, when trying to import the Panel like this:

`import Panel fro

[2017-11-04 04:08] aislanmaia commented on #1740
Okay, I figured out that the Panel component is under the layout, so the correct way for import this component is `import Panel from 'react-toolbox/lib/layout/Panel'`;

[2017-11-04 04:08] #1740 closed

[2017-11-04 17:52] aislanmaia opened #1741 "create-react-app + React-Toolbox 2.0-beta.12 => React does not recognize the `scrollY` prop on a DOM element"
Okay, I'm getting this warning on browser console when trying to get my Layout upgraded from 1.3.x version to 2.0.beta

Here is my code on render() function:

[code]
Maybe scrollY doesnt't exist anymore for Panel component, but in the docs it is.

Any helps would be appreciate for my path to port this code to the latest version of React Toolbox + create-react-app.

Thanks!!!

[2017-11-04 20:43] FDiskas opened #1742 "OFFLINE www.react-toolbox.com"
![https://i.imgur.com/FlRAuBi.png](https://i.imgur.com/FlRAuBi.png)

[2017-11-04 21:05] aislanmaia opened #1743 "CSS not working for some components"
For some reason, I cannot get the css working right for the IconButton and IconMenu on my layout code.

[code]

and the result:
![screenshot_20171104](https://user-images.githubusercontent.com/2199137/32409443-89ab905a-c18a-11e7-92dd-eb8b5e561ce4.png)

The navigation part should be on the right side of the Panel, but the css is not been applied to it.
The thing is, the Panel seems to be working ri

[2017-11-05 12:25] blakeperdue commented on #1742
Yeah, the site being down and the lack of commits in October make me afraid this repo is losing momentum... I hope not because it's an awesome resource!!

[2017-11-06 07:57] nirus commented on #1742
Please don't make us move out of the framework. I am already in search of other solutions.

[2017-11-06 08:06] Friph opened #1744 "Change State Datepicker don't know"

[2017-11-06 09:40] oliviertassinari commented on #1742
@chadfawcett host a temporary version on https://peddler-jam-26368.netlify.com.

[2017-11-06 10:59] #1744 closed

[2017-11-06 16:19] 3af opened #1745 "Cannot run Auto-complete in IE 11"
Hey,

I'm having difficulties displaying Autocomplete on IE 11 (11.0.9600.18816).

I created [minimal example repo](https://github.com/3af/react-toolboxt-autocomplete-ie-11) where this can be reproduced.

I applied symbol polyfills but still no luck.

Does anyone know what I'm doing wrong or tell me whether they can run it in IE? I think I'm doing all I can be but maybe I'm missing something.

Tha

[2017-11-06 18:22] tatethurston opened #1746 "The domain http://www.react-toolbox.com/ has expired"
This has happened again.

https://github.com/react-toolbox/react-toolbox/issues/921

[2017-11-06 23:07] mlcohen commented on #1746
Same. I flushed my macOS's DNS cache just to make sure but no dice. <sad panda>

![screen shot 2017-11-06 at 3 02 38 pm](https://user-images.githubusercontent.com/100445/32468640-009f1432-c304-11e7-8eba-147f1b586a3c.png)

[2017-11-06 23:20] guacamoli commented on #1742
Has anyone tried contacting @javivelasco directly via email/twitter? Wonder if he's still planning on maintaining this.

[2017-11-07 13:18] 3af commented on #1739
Hey,

I cannot reproduce this in my project. When I import Link like you described I don't see any additional style element in my head.

![obrazek](https://user-images.githubusercontent.com/33279089/32495456-ff00ca36-c3c5-11e7-92ec-1114b62d357a.png)

From quickly looking into your webpack config it seems like this is because you use [style-loader](https://webpack.js.org/loaders/style-loader/).

If

[2017-11-07 13:40] 3af commented on #1735
Hey,

you'd improve chance of someone helping you if you provided more details. Code example that is easily runnable is good start. Try to provide as much as possible helpful details.

Same applies for #1736.

[2017-11-07 18:57] jmar777 commented on #1746
In the meantime, if you're looking for some documentation, please note that you can browse the [`components`](https://github.com/react-toolbox/react-toolbox/tree/dev/components/input) source folder for individual components, and each component (that I've checked) is well documented with it's own Readme file (e.g., [`Input`](https://github.com/react-toolbox/react-toolbox/tree/dev/components/input).

[2017-11-07 20:02] #1523 closed

[2017-11-08 06:28] mkMoSs commented on #1746
Is this react-toolbox being abandoned? I'm about to start a big project based on this and all I'm encountering is major bugs and components not working as they should. The repo hasn't been updated for months, the domain has expired for days now. I read good things about react-toolbox vs material-ui, however it seems stale. Any info?

[2017-11-08 12:07] MrEfrem commented on #1746
Yes, It's very weird situation. I also use it in the big project and I would not like rewrite all.

[2017-11-08 15:07] markolofsen opened #1747 "Unexpected character '#'"
nothing

[2017-11-08 16:32] TimoRuetten opened #1748 "What is happening with react-toolbox"
Hey!

I am wondering whats happening with react-toolbox. The domain is unreachable, there are 47 pull requests, last commits are long time ago etc. ...

Maybe the owner isnt interested anymore to maintain this project ? Any infos ?

[2017-11-08 16:37] miguel-orange commented on #1746
https://github.com/react-toolbox/react-toolbox/issues/1742#issuecomment-342095270

[2017-11-08 16:37] miguel-orange commented on #1748
https://github.com/react-toolbox/react-toolbox/issues/1742#issuecomment-342095270

[2017-11-08 19:43] acthp commented on #651
Hitting this problem a lot. It's unclear what the workaround is for different components, e.g. for MenuItem I couldn't find a solution via div wrap, but setting pointer-events: all on the element works.

[2017-11-09 02:31] tech4him1 commented on #1748
Latest commit was October 6th: https://github.com/react-toolbox/react-toolbox/tree/agnostic-typescript

[2017-11-09 02:52] jasonmorita commented on #1746
Why not just put up a GitHub page? It's freeeeee!

[2017-11-09 18:10] pablolmiranda commented on #1742
The react-toolbox.com domain is blocked inside Netflix and this is the feedback from our DNS team at Netflix:
"Our research team got back to us about the domain you sent us and stated that the domain is being blocked currently due to it's IP address (198.54.117[.]212).
Currently 198.54.117[.]212 is hosting more than 1000 malicious domains and will be remaining blocked for now.
If and when react-to

[2017-11-10 00:21] luiz-simples commented on #1746
Why not just put up a Heroku page? It's freeeeee!

[2017-11-10 05:57] arikanmstf commented on #1739
Yes because I've fixed my bug already.
Did you try include Links like
`import Link from 'react-toolbox/lib/link `
And check my webpack config carefully, I already use Extract text plugin:
https://github.com/arikanmstf/mylibrary/blob/master/webpack.config.js
For output of the project see: http://mustafaarikan.net/mylibrary/
@3af

[2017-11-10 06:46] jamesmarrs commented on #1739
hey @arikanmstf I had similar issues with a lot of css being injected I didnt use (developer tools ran so slow, etc). Its highly dependent on how your webpack is configured. In addition to extract text plugin, I had to use the  postcss-cssnext library. This cleaned up most of the style issues for me. Unfortunately I dont use the themr to theme my project, so i cant say much about that.

[2017-11-10 07:24] raza2022 opened #1749 "Official support for Meteor"
Hi
Thanks for the great project for the open source community :+1:
I have an existing project which is in beta release. I fully used react toolbox with a good community supported project https://github.com/nathantreid/meteor-css-modules
all things working fine and issues I solved my own till I have to update meteor version to 1.5 all done successfully except one error with related to toolbox which

[2017-11-10 08:50] EvanCoh commented on #1455
Same issue here. Any suggestions?

[2017-11-10 09:24] jamesmarrs commented on #1455
I used `css-modules-require-hook` and had to configure it just right to match my webpack config. I was getting errors when using selectors such as :root and :global. I dont know exactly how you are implementing your css/sass as this would be highly dependent on exactly how you do it, but ensuring the file gets compiled and exported correctly with the `preprocessCss()` hook ultimately fixed any css

[2017-11-10 10:59] FDiskas commented on #1742
why not to use the github pages for this? :meat_on_bone:

[2017-11-10 11:22] jpbretanha opened #1750 "Tab Component not calling shouldComponentUpdate()"
Hey guys!
I'm having this problem when I change tab inside tabs component.
The right way would be tab component call `shouldComponentUpdate()` **before** call `render()` method, but tab component is calling `render()` and **doesn't** call `shouldComponentUpdate()`

[2017-11-10 12:25] 3af commented on #1739
So you fixed the problem? How? Maybe someone else will find it useful.

Yes, I included the Link like that and I don't see any additional `style`s.

[2017-11-10 12:45] brauliodiez opened #1751 "React toolbox domain expired"
Hello:

http://www.react-toolbox.com/

Domain has expired?

[2017-11-10 12:54] arikanmstf commented on #1739
As I mentioned on previos comment,

[2017-11-10 12:54] #1739 closed

[2017-11-10 15:31] cinic commented on #1751
duplicated #1748

[2017-11-10 21:08] kmannislands commented on #1746
^ everyone's talking about switching hosts (heroku, gh pages) but the issue is that the domain expired, so the host is actually irrelevant. Perhaps the domain has become expensive, it is very keyword-ey.

In fact, it was hosted on Github Pages already. DNS seems to have pointed to http://192.30.252.153/ until 9 days ago or so when it appears the domain expired.

Someone should just @javivelasco on

[2017-11-10 21:11] jmar777 commented on #1746
I reached out to him on Twitter on the 8th, but haven't heard back yet. He's still active, so presumably he's at least ok. :)

[2017-11-10 21:15] kmannislands commented on #1742
@pablolmiranda well the domain expired, so dns does actually point to a bad host. Seems like the only help they could use is with renewing the domain, which I'm guessing is financially constrained.

Until then everyone should just browse the cached version: https://web.archive.org/web/20171020084703/https://react-toolbox.com#/

[2017-11-10 22:25] jasonmorita commented on #1746
https://react-toolbox.github.io/ is what I was suggesting. No need for the domain.

[2017-11-12 11:53] martinkomitsky commented on #1457
@PDS42 have you resolved this issue?

I have this one only if I brake layout given in the example from your link and move NavDrawer to a individual component like this:
[code]
and in parent component render it like that:
[code]
 I don't know what's the matter to this behavior. I've only just noticed that in this case a css class with "left" value is not being added to container inside <Layout>.

T

[2017-11-12 21:04] markolofsen opened #1752 "So huge"
The size of my bundle is 6 mb. It's normal? How to fix it?

[2017-11-13 01:44] Amir-Mousavi commented on #766
Please fix this issue for password filed too.

[2017-11-13 11:10] dan-kwiat commented on #1742
I get the impression Javi is working on a big update, extracting style-agnostic components & HOCs separately and maybe removing css-modules in favour of styled-components.  He talks about it here: https://www.youtube.com/watch?v=uFkyn9cFkO8

[2017-11-13 11:42] hansena commented on #1752
6mb from react-toolbox?? Take a look at the “Importing components“ section of the readme, should help you sort it out

[2017-11-13 12:20] markolofsen commented on #1752
I have few pages and in each page I use:
[code]
It's normal practice or I have to include this once?

[2017-11-13 12:58] markolofsen commented on #1752
Also, by default bundle with "react-toolbox" — 6.3 Mb.

[2017-11-13 13:21] markolofsen opened #1753 "Your site does not work"
Your site does not work — [react-toolbox.com](http://react-toolbox.com)

[2017-11-13 14:47] cinic commented on #1753
Really? #1742 #1746 #1748

[2017-11-13 18:02] javivelasco commented on #1753
www.react-toolbox.io

[2017-11-13 18:02] #1753 closed

[2017-11-13 18:03] javivelasco commented on #1752
Try to require components directly separated. Probably you are requiring from indexes making the bundle huge since the whole library is going to be included instead of just what you actually use.

[2017-11-13 18:03] #1752 closed

[2017-11-13 18:04] javivelasco commented on #1751
From now on: www.react-toolbox.io

[2017-11-13 18:04] #1751 closed

[2017-11-13 18:08] javivelasco commented on #1742
Hi guys, an update:

Last two weeks were super crazy. I had a shit load of work to do not only for my current work but for some other side projects and currently running. I'm working on a different approach that I'm pushing very soon as @dan-kwiat told in the previous comment.

The domain issue is not actually related. Currently @soyjavi owns `react-toolbox.com` and he has been completely unreacha

[2017-11-13 18:08] #1742 closed

[2017-11-13 18:08] javivelasco commented on #1748
https://github.com/react-toolbox/react-toolbox/issues/1742#issuecomment-344006400

[2017-11-13 18:08] #1748 closed

[2017-11-13 18:10] javivelasco commented on #1746
Sorry guys. It's now going to happen again since I've just switched to www.react-toolbox.io and now I own it. @soyjavi owns react-toolbox.com and it was impossible to reach him/make him renew the domain. I didn't wanted to change it buy I had no other choice. From now on you can use www.react-toolbox.io.

Again, sorry for the trouble.

[2017-11-13 18:10] #1746 closed

[2017-11-13 18:57] hansena commented on #1752
@markolofsen here is an example:
import { List, ListItem, ListDivider } from "react-toolbox/lib/list";

[2017-11-13 19:05] markolofsen commented on #1753
Ok, understood )

[2017-11-13 19:06] markolofsen commented on #1752
`import { List, ListItem, ListDivider } from "react-toolbox/lib/list";`
A'll check it. Thanks.

[2017-11-13 19:07] tconroy commented on #1731
Seems odd maintainers haven't set the domain to auto-renew? 🤔

[2017-11-13 19:08] markolofsen opened #1754 "I can't type into input-field on mobiles"
I can't type into input-field on mobiles. When I type nothing happens, but focus still set. Input-field is connected with the state and on PC everything ok.
I'm confused )

**template**
[code]

**Reducer:**
[code]

State `stateSettings.navbar.searchValue` are connected.

[2017-11-13 20:16] cinic commented on #1753
@javivelasco hi, website in repo description needed to be edit (http://react-toolbox.io).

[2017-11-13 20:18] javivelasco commented on #1753
Yeah!! So many places. Currently I've just changed the CNAME, I'm finishing fixes in the current repository to redeploy. Thanks for telling I'm doing it just now

[2017-11-13 20:20] javivelasco commented on #1731
@tconroy Turns out that @soyjavi has ownership of the original www.react-toolbox.com and I couldn't make him renew/transfer the domain so we'd rather migrate to a new one I can be responsible of. Now you can access react-toolbox.io

[2017-11-13 20:20] javivelasco commented on #1731
@chadfawcett Thank you for publishing meanwhile :)

[2017-11-13 20:20] #1731 closed

[2017-11-13 20:21] javivelasco commented on #1734
react-toolbox.io is up now!

[2017-11-13 20:21] #1734 closed

[2017-11-13 20:41] tconroy commented on #1731
@javivelasco thank you for resolving this! 👍

[2017-11-14 00:43] #1750 closed

[2017-11-14 08:46] Pajn commented on #1747
This has nothing to do with react-toolbox. You are trying to import a server side dependency on the client. If sqlite3 actually supports this you should report an issue there.

[2017-11-14 09:59] #1747 closed

[2017-11-14 20:13] matthax commented on #755
Perhaps the Autocomplete should actually have a callback for when a new item is created? That way we can easily implement adding the new value to the source, and avoid altering the input source property...

[2017-11-14 22:27] mlcohen commented on #1746
As an FYI for anyone who still curious about whether react-toolbox is still being worked on, the answer is yes. I reached out to @javivelasco over Twitter and he mentioned that he's been super busy with other stuff but he's hoping to get back to dedicating more time to working on react-toolbox. So that's good news 👍🏼

[2017-11-15 06:27] Ulyanich-v commented on #1703
guys, any activity here? Does anyone know, is react toolbox team going to make v1 branch compatible with  react 16? Or may be release v2 version with react 16?
@bionikspoon @rubenmoya

[2017-11-15 09:24] rubenmoya commented on #1736
You'll have to `map` through the data and add a callback to it before passing the data to the table, or update to the `v2` of react-toolbox where table component has been rewritten because of problems like that.

[2017-11-15 09:56] nidhigadhavi commented on #1370
i want to change button css with icon here.  plz guide.

[2017-11-15 16:49] aislanmaia commented on #1743
I was using react-toolbox 2-beta

[2017-11-15 19:26] CASandmann commented on #1734
Why did you guys switch to a .io domain?  Not that it really matters in the long run, but all old links to the docs are now broken and the new location doesn't show up on a Google search while the old (broken) one still does.

[2017-11-15 22:27] javivelasco commented on #1734
Because @soyjavi has ownership of the `.com` and it was impossible to reach him or to make him renew the domain so I had to switch to keep ownership of the whole thing. The docs and everything will be updated during the next days, sorry about it

[2017-11-16 09:41] mkMoSs commented on #1746
Thats good news, but well unfortunatelly, even though react-toolbox looked promising, I had to choose the "other" most popular Material framework for React :/

[2017-11-18 12:35] oliviertassinari commented on #1746
@mlcohen Great! I hope this project will keep moving forward. Alternatives are good for the ecosystem. Competition drives us further and it's room for more experimentations.

[2017-11-20 04:05] jackjwilliams commented on #1703
@bionikspoon Thank you for that! I've forked your v16 branch, could you give any insight into how you setup your webpack or do style imports?

I tried to just render a basic AppBar, but it's always completely unstyled. It's inlining some styles, but react-toolbox has undefined styles

[code]

![image](https://user-images.githubusercontent.com/1746015/33001740-6ab36cee-cd75-11e7-80e0-8c3f72fdce3e.p

[2017-11-20 08:20] rubenmoya commented on #1703
There is a PR open for React 16 in `v1` https://github.com/react-toolbox/react-toolbox/pull/1719 just waiting for the merge. Also, keep in mind that `v3` with agnostic components is around the corner.

[2017-11-20 08:23] Ulyanich-v commented on #1703
v3 with agnostic components how close to release?

[2017-11-21 08:11] nirus opened #1762 "ListItem in a idebar reloads the page"

[2017-11-21 14:47] huehnerlady opened #1763 "vertical scroll bar for Dialog/Card"
Hey,

I try to add a scroll bar to a Dialog/Card to enable visibility to the whole text, but unfortunately currently it looks like this:
![screen shot 2017-11-21 at 14 42 33](https://user-images.githubusercontent.com/12533979/33078509-cc463e22-ceca-11e7-8e64-d5b16b48080b.png)

my code:

[code]

We use react-toolbox version 2.0.0-beta.12
What can I do to make the card or dialog scrollable to see th

[2017-11-22 15:34] amy-butz commented on #1527
This is very similar to an issue I am having, would love to know if you found a solution.

[2017-11-22 15:38] holzfelix commented on #1527
Yes I have found a solution. Its a bit big deal ;) I can extract the relevant code later and post it here.

[2017-11-25 16:28] hansena commented on #1762
@nirus , I'm currently running react router v4 and using list items for navigation, here is the pattern i'm using with no changes to react-toolbox:
[code]

[2017-11-25 16:48] hansena commented on #1763
You will need to use the theme prop make it scrollable...
[code]
[code]

[2017-11-25 16:54] hansena commented on #1743
react-toolbox 2-beta requires css modules and post-css loader

[2017-11-26 02:21] kyrogue opened #1765 "create-react-app 16.1.1 + react-toolbox 2.0.0-beta.12 PostCSS incompatibility"
Error logs
[code]

[2017-11-26 02:29] #1765 closed

[2017-11-26 14:25] hansena commented on #1741
Quick look at the code:
[code]

[2017-11-27 13:36] nirus commented on #1762
@hansena currently i have done similarly. You can see **Alternate Fix** section in my post. But this should be a part of react-redux.

[2017-11-27 13:57] hansena commented on #1762
@nirus apologies I misread your original post...

[2017-11-28 19:05] merraysy opened #1767 "Tabs arrows updating issue (1.3.x synced branch needed for PRs)"
Hey @javivelasco @soyjavi,

First of all, we are using `react-toolbox` extensively in our project and it's awesome thank you.

We are still using `v1.3.x` actually and not willing to upgrade in the near future, and we have some issues.

`Tabs` component do not update the arrows when their children count changes, they are updated only when the window resizes.

![Tabs Issue](https://d1ro8r1rbfn3jf.c

[2017-11-29 16:07] niksajanjic opened #1769 "Feature: You should allow refs to be passed down in some components"
For example, If someone wants to use Input component, and wants to get HTML input element from it, the only way I understand is to pass `id` attribute that gets attached to HTML input tag. After that we can do `document.getElementById('id')` or get that element by any other document query method. But, due to the fact that this is React world, we should be using `refs` instead, so I believe that it

[2017-11-29 18:49] goodbeysr commented on #124
i copied the code given in the exemple but it doesnt render . i checked the DOM and i found that the tbody is empty even if the source object is full of data

[2017-12-01 09:06] vikaskyadav opened #1770 "Customize a particular row in Table."
I would like to customize just a single row based upon some conditions. How this can be done in this. I am using version 1.2.5

[2017-12-01 14:29] niksajanjic commented on #984
Neither of the proposed solutions up there works for me with RRv4.2. But either of those examples is overly complicated and can be simplified. If you take a look at the example for the custom link provided at react router documentation:

https://reacttraining.com/react-router/web/example/custom-link

You can just alter a code and make it work with React Toolbox `Link`:

[code]

[code]

This code s

[2017-12-02 20:40] seawatts commented on #1765
How did you fix this?

[2017-12-03 11:25] kyrogue commented on #1765
https://github.com/react-toolbox/react-toolbox

There is a section "Usage in Create React App Projects" that should help

[2017-12-06 00:44] fallanic commented on #728
this worked for me (using `props.onMouseEnter`, `props.onMouseLeave` and `props.children`)

[code]

[2017-12-06 10:04] 3af commented on #1770
Hi,

what customization you have in mind?

Since this is open source you can check the source code of [Table in v1.2.5](https://github.com/react-toolbox/react-toolbox/tree/1.2.5/components/table) and see for yourself what customizations it allows. Documentation doesn't mention any sort of customization so let's dig into the source code.

If you check the [render method of Table component](https://

[2017-12-06 13:43] lolJS opened #1771 "2.0 beta 13"
@javivelasco When can we expect this? There's a bunch of fixes in Dev that I'm waiting for.

[2017-12-06 13:54] 3af commented on #1745
Seems like I didn't polyfill enough. Ended up with
[code]
plus
[code]
if you want to use `suggestionMatch="anywhere"`.

[2017-12-06 13:54] #1745 closed

[2017-12-06 17:11] andreidcm commented on #1361
@sbunciak Had the same problem, ended up not using RadioGroup at all:

[code]

[2017-12-06 23:47] mogadanez commented on #1392
probably need to maintain collection of such variables sets like https://bootswatch.com/

[2017-12-07 12:54] sitaramyadav commented on #490
Does the issue resolve? maxlength is not working with number.

[2017-12-07 13:42] Rabsztok commented on #124
@goodbeysr turns out that example on the website is outdated. For example how to use `Table` in `2.0.0-beta`, look at https://github.com/react-toolbox/react-toolbox/tree/dev/components/table#data-table

@javivelasco I think it would be very helpful to mention on top of README, that you should use docs from github source code and not from the website when using 2.0.0.

[2017-12-08 10:32] mogadanez commented on #1727
its same even with empty value
  <Input type='text' placeholder="test" label='error' error="Some errror" />

=>

![image](https://user-images.githubusercontent.com/790307/33762036-694ed74a-dc0b-11e7-90b8-906a6f6c1de0.png)

[2017-12-09 17:06] Oliver84 commented on #1420
Why is this different than http://react-toolbox.io/#/components/table? Is react-toolbox.io outdated?

[2017-12-10 08:53] joshanderson99 opened #1772 "CSS being applied globally on import"
Hi,
I'm trying to apply a CSS file to a toolbox component using its theme property, like so:

[code]

The `theme` import should be modular css and apply only to this instance of `Navigation` (as I understand it), but instead the css is applying globally. (e.g `theme` css: `nav button { height: 20px }` affects all `nav button` in the app, including later instances of `Navigation`).  Why is `theme`

[2017-12-10 09:51] joshanderson99 commented on #1772
In react-toolbox-example on github, the same thing is happening.  I added `body { background: green; } `to SuccessButton.css, and the background went green.  If css is to be localised I would have thought this global application of styles on import wouldn't be happening.

[2017-12-11 05:15] joshanderson99 commented on #1772
I raised this as an issue at css-loader on github, and apparently css modules only works with class selectors, not 'native' selectors.  Which raises the question how then one overrides properties locally of elements like buttons in react-toolbox components.  Will have another look at the installation doc, but if any comment on this, it would be appreciated.

[2017-12-11 05:43] joshanderson99 commented on #1772
More or less solved.  Solution was to specify theme properties as listed in the docs as style classes.  eg for Navigation
.button {
...

[2017-12-11 05:44] #1772 closed

[2017-12-13 12:33] atilkan commented on #490
@sitaramyadav Issue is not related to react. So it doesn't resolved. Maybe we can ask smart :P people at w3 consortium.

[2017-12-13 13:01] dmeehan1968 opened #1774 "Link text has text-transform: capitalize, contrary to Material specs"
[code]

renders:
[code]

Menu item examples at [Material Design Menu Links](https://material.io/guidelines/components/menus.html#menus-menu-items) clearly show uncapitalized link text, and there is no mention in the guide of capitalisation.

Offending CSS is [here](https://github.com/react-toolbox/react-toolbox/blob/b381db405427f03c12bb2beeba5398ec6606956f/components/link/theme.css#L35-L37)

[2017-12-14 07:54] olyverDev commented on #1275
Have the same issue

[2017-12-14 07:56] joshanderson99 opened #1775 "Dialog that expands width to fit content?"
Hi,
Is it possible to get a Dialog of "normal" type to expand it's width to fit content?  ("large" type is too wide).

Ideally there'd be a Modal component, but maybe in react-toolbox it's possible to fashion Dialog to behave similarly.

Thanks

Josh

[2017-12-14 13:20] dmeehan1968 commented on #1597
@eldyvoon Agree, ```autoFocus``` works, it is an HTML5 attribute for ```input``` elements.  ```Input``` props are passed down to the underlying DOM node which is what allows this to work.

You can only have one node with autoFocus on a page (for hopefully obvious reasons!)

[2017-12-17 14:41] vitalif commented on #1169
+1 bug:

When Autocomplete is placed in the end of a Card, its options are clipped away by Card's 'overflow: hidden'.
The only real fix for it is to render options in document.body, not as a child of input element.

[2017-12-17 19:46] dmeehan1968 opened #1776 "Cannot target .itemAction in ListItem via theme"
MyComponent.css:
[code]

MyComponent.js:
[code]

The output produced for ListItem does not apply that additional classname.  You can see that the .left class is properly applied, but the .itemAction theme class remains unchanged.

[code]

I can target the .itemAction by targeting .left:first-child but this seems to be contrary being able to target .itemAction directly.

[2017-12-18 08:38] dmeehan1968 commented on #1776
Ok, I figured this out.  The problem is that editing the CSS with Hot Module Reloading enabled doesn't cause the DOM to be regenerated, and so the overridden class name doesn't get inserted.  If the page is reloaded, it does.  I thought I had been doing a full reload when I was going through the above, but obviously missed it, only finding it when I had problems targeting another element.

[2017-12-18 08:38] #1776 closed

[2017-12-19 15:49] dziamid commented on #1722
@oliviertassinari there does not seem to be any progress on `agnostic-typescript` branch. Has the migration been abandoned?

[2017-12-19 16:13] oliviertassinari commented on #1722
@dziamid I don't know.

[2017-12-19 17:52] clurdish opened #1777 "Autocomplete Key Event Handlers"
Currently, the Autocomplete component does not allow additional handlers for `onKeyUp` and `onKeyDown`. Adding support for these callbacks would allow for more customizable behavior, especially where navigation is involved.

I'm proposing that this be implemented in a similar manner to the `onFocus` prop in conjunction with `handleQueryFocus`. For example:

**onKeyUp**
[code]

I intend to issue a

[2017-12-20 20:32] amy-butz commented on #1735
I also need to solve this issue. The object that is my source for the table looks like this:

`{
"id": "5a3814f79b0b017748d4136b",
"name": "Example Building",
"address": {
       "streetNumber": "123",
       "streetName": "Anywhere Dr.",
       "suite": "101",
       "city": "Anytown",
       "state": "US",
      "zip": "12345"
                 },
"isActive": true
}`

So how do I access, for exam

[2017-12-21 02:02] Steffan-Ennis opened #1779 "The documentation at react-toolbox.io has deprecated features."
- Child component selectors in themes no longer work for ^2

eg navigation_theme.css
[code]

it should be
[code]

[2017-12-21 11:57] 3af commented on #1735
One simple solution that just came to my mind is to change (flatten) the source.

@amy-butz in your case
[code]
should work for the model you used above.

I think this is general solution for this problem - just change the data in your selectors.

[2017-12-21 22:45] paulociecomp commented on #1775
you can make this with css:

[code]

[2017-12-21 23:03] paulociecomp commented on #1777
may you give a context where this events would be useful?

[2017-12-23 17:32] clurdish commented on #1777
A useful context would be if you want to bind keys to actions on the page outside of the autocomplete component. For example, on `Enter`, an ajax call might return full search results from the resulting autocomplete query. While the `input` child of `Autocomplete` is focused, an `onKeyUp` event listener would be the ideal place to listen for keys that cannot be captured by `onKeyPress`.

[2017-12-24 12:48] kozakluke commented on #1771
this library is probably dead

[2017-12-27 19:58] timurgarif commented on #1767
@merraysy, I believe [master](https://github.com/react-toolbox/react-toolbox/tree/master) is v1.3.4. The problem is a lot of PR's already pending... I think PR's to master could be accepted faster...

[2018-01-02 10:04] merraysy commented on #1767
@timurgarif I've requested a pull fixing the same issue in the latest version https://github.com/react-toolbox/react-toolbox/pull/1768. Still, no response yet.

[2018-01-02 20:23] pbflanagan commented on #1574
Hiding the ripple using display none, will keep the ripple node in the DOM.

[2018-01-03 14:15] ryananglem opened #1782 "react-toolbox tooltip outside of viewport"
I'm having a problem where a tooltip (tooltipPosition: "bottom") at the bottom of the page is being displayed below the bottom of the viewport - is there a way to make it display within the viewable area of the page?

[2018-01-04 08:27] ryananglem commented on #1782
Ideally, if the tooltip fell off the bottom of the screen, it would appear above the wrapped container rather than below.

[2018-01-04 16:43] ryananglem commented on #1782
I've now realised that if you do not specify a tooltipPosition, the tooltip does in fact position its self inside the viewable area. This is not exactly as I would expect, however it fixes this particular problem for me for now so I'm closing.

[2018-01-04 16:43] #1782 closed

[2018-01-08 09:13] kamalchaturvedi15 commented on #834
Is this closed ? I believe there is still no way we can inline the Datepicker provided by react-toolbox. @javivelasco Do you plan to bring this up in the near future ?

[2018-01-09 03:09] #1741 closed

[2018-01-10 05:33] rokoroku opened #1783 "Allow different template per Dropdown status"
I often want to have different view when dropdown's item is in the list (focused, active) and out of the list (blurred, inactive)

Currently, my workaround is setting Dropdown's state to the parent (e.g.`dropdownState`) via `onFocus` and `onBlur` event, and use different `template` prop to the Dropdown per state.

However, it would be nice when we can get dropdown's active state via `template` fun

[2018-01-11 07:54] kuka-radovan commented on #1596
This project haven't moved anywhere for 4 months. Despite being really good. @javivelasco please, can you express yourself, whether you still have future plans with this project? Are there maintainers that expressed interest to maintain it?

[2018-01-12 13:20] ilkerceng opened #1784 "DatePicker locale for 'Turkish'"
Hi, how can i add 'tr' support for datepicker component?

[2018-01-13 04:23] havesomeleeway commented on #1771
In that case, which material ui based library are you using at the moment @kozakluke ? I'm using material-ui but I havent switched to v1 beta yet.

[2018-01-13 09:17] ilkerceng commented on #1784
I am sorry, i have newly realised there is an example for this on [locale example](http://react-toolbox.io/#/components/date_picker locale example)

[2018-01-13 09:17] #1784 closed

[2018-01-15 10:21] jimmywarting opened #1785 "Improve website with focusable elements"
tabbing throught items is not easy when you don't know where the focus is.

Also the hole component menu is not accessible with just a keyboard.
there is no focusable element in the menu.

[2018-01-15 10:31] jimmywarting opened #1786 "focus on first focusable element in dialog"
like the native dialog element could you make the first focusable element in the dialog get the focus for better accessibility?

Bonus point if you restore focus to last focused element when dialog closes

[2018-01-17 16:27] callmetwan opened #1787 "This project is dead"
Intentionally contentious title. I haven't seen any updates or comments from the creators in about 6 months. Are you intending to resume this project @javivelasco and @soyjavi? My team wanted something that we could become familiar with and contribute to. We understand if you two are busy (being a project maintainer is hard!!) but the sudden stop in communication makes us think this project is dea

[2018-01-17 16:40] javivelasco commented on #1787
It's not! Just too busy. The current version works pretty nicely but the restructure I'm working on needs time. Sorry, I'll try to get back to it ASAP

[2018-01-18 00:57] provmark commented on #1787
Thanks for the quick response  @javivelasco as our team has been wondering the same thing.  What version do you recommend using for projects that are moving to React 16?
Thanks.

[2018-01-18 02:19] pietrofxq commented on #834
+1, I'm planning to use it but the calendar inside the dialog is a deal breaker for me.

[2018-01-18 10:00] jimmywarting opened #1788 "How can i make a radiogroup indeterminate?"
Got a weird request from a customer.
he basically suggested that if you click on a checked radio button it would deselect

kinda like this:
https://jsfiddle.net/tuanvuf4/b5w9cd3L/

[2018-01-18 13:32] sjain-mi9 commented on #1787
@javivelasco Thank you for the update. Is there any ETA for the new version?

[2018-01-18 13:37] Chengwen commented on #1535
Hi @javivelasco , we got the same error when using Tabs component. Do you have any plan of release a new version with this fix? Thank you!

[2018-01-18 14:33] timurgarif commented on #1787
I'm quite happy with current stable version (1.3.4, the master branch).
Though It would be great if @javivelasco continued to periodically merge important PR's to the master branch. Like React 16 compatibility upgrade (if any) or bug fixes.
#1596

[2018-01-18 15:32] javivelasco commented on #1787
Yeah, I know there are super important PRs to get merged and issues to answer. I'm looking forward having some more time to attend to all of this. Will try to get something done during the weekend and to get use to dedicate at least a couple of commits per day. I can't commit to an specific ETA though. Anyway, as @timurgarif not only the master branch is stable but also the 2.x beta. What I plan t

[2018-01-18 20:49] dsullivan7 opened #1789 "`required` attribute not functioning for Dropdown"
I'm using 2.0.0-beta.12 and I've noticed that the required attribute does not function as expected:

[code]

In this example, the submit button still executes the default submit function. I was able to use the Input component with the required attribute and get the desired functionality.

[2018-01-19 09:15] 3af commented on #1787
@provmark I use 2.0.0-beta.12 (the latest) with react 16.2.0 without any problems.

[2018-01-19 11:20] scerelli opened #1790 "Input border bottom variable doesn't seems to exist"
Hi, i noticed that your `<Input />` Component has a css variable for its `border-bottom` color but it seems that this variable hasn't been declared anywhere.
If I include your component on a fresh `create-react-app` project, `Input` doesn't show any border-bottom at start but if you declare the variable like this then you will be able to see the border:

[code]
are you aware about that?

cheers

[2018-01-19 20:21] L-u-k-e commented on #1771
@kozakluke @havesomeleeway see: https://github.com/react-toolbox/react-toolbox/issues/1787

if you really want another library though, it might be worth having a look at the official material component implementations provided by Google. https://material.io/components/

There's a set of react rappers for them being maintained also. https://github.com/jamesmfriedman/rmwc

[2018-01-20 08:35] kbrownhbs commented on #1535
I am having the same issue.

[2018-01-21 15:44] rokoroku commented on #1535
It should be reopened. still exists on `2.0.0-beta.12`

[2018-01-22 17:51] ilkerceng opened #1792 "'Input' must be imported in the given Tooltip example in the docs"
Missing import Input in the [Tooltip example](http://react-toolbox.io/#/components/tooltip)  in the official docs.

[2018-01-22 22:21] #1470 closed

[2018-01-23 11:15] anissaSanadtech commented on #1535
I am having the same issue

[2018-01-23 12:17] rubenmoya commented on #1788
You have a working example in the playground: http://react-toolbox.io/#/components/radio_group basically give a name to the `RadioGroup`, a value to each `RadioButton` and then pass the value you want to select to the `RadioGroup` component

[2018-01-23 14:15] 3af commented on #1788
@rubenmoya Can you please share the code? I wasn't able to do that.

The problem seems to be that the [onChange handler](https://github.com/react-toolbox/react-toolbox/blob/dev/components/radio/RadioButton.js#L44) is not called when the button is already checked (which makes sense because there is no change). This means you don't know when user clicks on the currently checked option and therefore

[2018-01-23 14:16] jimmywarting commented on #1788
But i need to add a click handler to the radio button so i can pass the (undefined) value that i want to RadioGroup?

[2018-01-23 14:20] jimmywarting commented on #1788
@3af you are correct, it's currently not possible onChange won't be called if clicking it twice

`allowIndeterminate` would be a nice option.
at the very least a onClick handler so i can do it myself

Thought about using checkboxes but no...

[2018-01-23 14:24] rubenmoya commented on #1788
@3af You're right, I misunderstood the issue. Right now it's not possible to do it. I think the onClick prop would be a better option than `allowIndeterminate` since it's more flexible.

[2018-01-23 14:42] 3af commented on #1788
I agree, the `onClick` is better solution.

[2018-01-23 14:56] rubenmoya commented on #1743
You have the instructions to get react-toolbox to work with create-react-app in the readme: https://github.com/react-toolbox/react-toolbox#usage-in-create-react-app-projects

[2018-01-23 16:20] hansena commented on #1787
@javivelasco anything we can do to help you out or do you just need us to have patience?

[2018-01-23 16:59] rubenmoya commented on #1787
Hi @hansena! Any help is welcome, for example, answering questions in the issues, or opening PRs fixing bugs.

Every issue we solve is something less Javi has to worry about, so he can focus more in the next version :)

[2018-01-23 16:59] #1770 closed

[2018-01-23 17:00] #1763 closed

[2018-01-23 17:00] #1736 closed

[2018-01-23 17:01] #1735 closed

[2018-01-23 17:01] #1733 closed

[2018-01-23 17:02] rubenmoya commented on #1722
The migration is still ongoing, Javi is pretty busy lately but we'll keep working on it!

[2018-01-23 17:02] #1722 closed

[2018-01-23 17:02] #1643 closed

[2018-01-23 17:02] #1596 closed

[2018-01-23 17:03] #1570 closed

[2018-01-23 17:03] #1562 closed

[2018-01-23 17:03] #1530 closed

[2018-01-23 17:03] #1639 closed

[2018-01-23 17:14] #1792 closed

[2018-01-23 17:14] #1777 closed

[2018-01-23 17:18] #1673 closed

[2018-01-23 21:38] 3af commented on #1786
Hi,

you can do the first part yourself with [autofocus attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-autofocus).

This works for me in playground (notice the spelling - `autoFocus` - it's important):
[code]

I would say the second part is out of scope of this library because [you have to store previously focused element](https://stackoverflow.com/questions/363990

[2018-01-23 22:14] jimmywarting commented on #1786
I know, the point of this issue was not needing to do that and make it behave more like the native html dialog works

[2018-01-23 23:42] ilkerceng opened #1794 "Show Tooltip only onClick on Input"
Is there any option to show Tooltip only onClick event on Input component.

[2018-01-24 15:19] #1787 closed

[2018-01-24 15:22] rubenmoya commented on #1790
Hi! I'm not sure what the problem could be, but the variable is declared here: https://github.com/react-toolbox/react-toolbox/blob/dev/components/input/config.css#L11

[2018-01-24 15:34] rubenmoya commented on #1771
Hi! The library is not dead, Javi is pretty busy right now, and he'll be focusing on the next version of react toolbox, you can expect a new beta version next week probably, as soon as I catch up with him.

[2018-01-24 15:34] #1771 closed

[2018-01-24 15:37] #1767 closed

[2018-01-24 15:37] rubenmoya commented on #1767
Closed in https://github.com/react-toolbox/react-toolbox/pull/1768

[2018-01-24 15:42] rubenmoya commented on #1729
Hi! Can you give us some example or steps to reproduce?

[2018-01-24 15:57] rubenmoya commented on #1710
Are there any steps to reproduce it? It's not happening on the playground so my guess is that some styles are being overwritten... but without more information, it's hard to know what's going on.

[2018-01-24 16:03] rubenmoya commented on #1703
Closing in favor of #1715

[2018-01-24 16:03] #1703 closed

[2018-01-24 16:28] #1392 closed

[2018-01-24 16:28] #1707 closed

[2018-01-24 16:29] #1702 closed

[2018-01-24 16:30] #1700 closed

[2018-01-24 17:44] #1695 closed

[2018-01-24 17:45] #1674 closed

[2018-01-24 17:45] #1669 closed

[2018-01-24 17:46] #1668 closed

[2018-01-24 17:48] #1652 closed

[2018-01-24 17:49] #1655 closed

[2018-01-24 18:05] rubenmoya commented on #1644
The `v3` will be agnostic, so you can use it wherever you want, but that's the only thing I know, there are some examples in Javi's twitter with a date picker working in react native, but we won't know anything else until `v3` is out, which I hope is in the next months :)

Sorry for not having any more info!

[2018-01-24 18:05] #1644 closed

[2018-01-25 08:18] rubenmoya commented on #1786
Hi! There will be people who don't want to autofocus it, so making it by default will lead us to add some option to not to do autofocus it, I don't think it's that hard/painful to add an `autoFocus` and it's pretty flexible, we could revisit this in the future if more people ask for this feature.

[2018-01-25 08:18] #1786 closed

[2018-01-25 10:05] jimmywarting commented on #1786
I doubt there is someone that wouldn't want that.
this feature would only applies to dialog that don't have any autofocus attribute in them

[2018-01-25 14:17] hansena commented on #1794
@ilkerceng why only onClick?  that is contrary to the [material spec](https://material.io/guidelines/components/tooltips.html) but i'd be interested to hear your reasoning

[2018-01-25 14:37] 1aGh opened #1795 "Browser autocomplete off"
Hi,

a came across this issue few days ago. Do you anyone knew how to disable browser autocomplete on Input element??

Thank you for your answer

[2018-01-25 15:45] 3af commented on #1795
Hi,

[autoComplete="off"](https://stackoverflow.com/questions/37503656/react-doesnt-render-autocomplete-off) works for me.

TypeScript complains though...

[2018-01-25 16:55] guacamoli commented on #1795
I recently had to deal with this in Chrome and quickly realized that autoComplete=“off” does not work anymore (at the form or input level), at least for me. Chrome ends up showing its autocomplete by analyzing a few other things — label of the input, the name attribute of the input. Let me know if autoComplete=“off” ends up working for you, otherwise I can share my workaround.

[2018-01-25 19:52] ilkerceng commented on #1794
Hi @hansena i want to keep showing the tooltip only while user is filling the form.

[2018-01-26 07:34] 1aGh commented on #1795
Hi,

this isn't work. I have this two inputs:

<Input
	key='phoneNumber'
	disabled={!editMode}
	theme={theme}
	type='text'
	label='Phone number'
	name='phoneNumber'
	value={phone}
	onChange={this.handleDefaultParamChange.bind(this, 'phone')}
	autoComplete="off"
/>
<Input
	key='davtoken'
	theme={theme}
	disabled={!editMode}
	type='password'
	label='WebDav token'
	name='davtoken'
	value={davtoken}

[2018-01-26 13:16] #1710 closed

[2018-01-26 13:19] rubenmoya commented on #1795
Have you tried using the `autocomplete="off"` in the `form` instead of the `input`?

[2018-01-26 13:23] 1aGh commented on #1795
No, but I don't want to have this Inputs in the form because I'm submiting this via another component. I just save this values to the redux and then send it to the server.

[2018-01-27 02:57] joshanderson99 commented on #1775
Thanks, will try.

[2018-01-29 13:59] skoob13 commented on #984
Another solution for Button component:

[code]

Usage:

[code]

[2018-01-29 17:55] #1696 closed

[2018-01-29 17:57] #1684 closed

[2018-01-29 17:59] rubenmoya commented on #1679
I'm pretty sure we'll have to edit the component to be able to pass that prop down to the button

[2018-01-29 18:01] rubenmoya commented on #1678
I've not been able to reproduce it in the playground, closing for now

[2018-01-29 18:01] #1678 closed

[2018-01-29 18:54] rubenmoya commented on #1728
Only happening in `master` since the `<Table />` component has been rebuilt in `dev` branch and doesn't have inputs anymore.

[2018-01-29 19:24] rubenmoya commented on #1727
That's just a problem with the playground, we're not passing a value to the `Input` component so [this check](https://github.com/react-toolbox/react-toolbox/blob/dev/components/input/Input.js#L183) fails and the necessary css class is not applied, handling the input change and adding a value fixes it:

[code]

We need to fix the documentation [here](https://github.com/react-toolbox/react-toolbox/b

[2018-01-29 19:48] #1727 closed

[2018-01-29 19:54] rubenmoya commented on #1672
Maybe I'm wrong here, but you're using an `IconButton` here, and what it does is use `FontIcon` if icon is a string, or keep it as it is otherwise: https://github.com/react-toolbox/react-toolbox/blob/dev/components/button/IconButton.js#L100

[2018-01-29 19:54] #1666 closed

[2018-01-29 19:55] #1648 closed

[2018-01-29 19:55] #1647 closed

[2018-01-29 20:02] rubenmoya commented on #1620
Unable to reproduce, can you give an example / steps to reproduce? I tried in the playground and in the project spec.

[2018-01-29 20:03] rubenmoya commented on #1619
Fixed in #1646

[2018-01-29 20:03] #1619 closed

[2018-01-29 20:04] #1614 closed

[2018-01-29 20:06] rubenmoya commented on #1610
This will completely change in the `v3`, stay tuned :)

[2018-01-29 20:06] #1610 closed

[2018-01-29 20:09] #1597 closed

[2018-01-29 20:12] #1583 closed

[2018-01-29 20:14] #1579 closed

[2018-01-29 20:17] rubenmoya commented on #1561
Any contribution is welcome! :) most of the typescript defs have been made by the community so no design decisions have been made.

[2018-01-29 20:20] #1554 closed

[2018-01-29 20:26] #1542 closed

[2018-01-29 20:28] #1532 closed

[2018-01-29 20:29] #1525 closed

[2018-01-29 20:29] #1522 closed

[2018-01-29 20:31] #1512 closed

[2018-01-29 20:42] rubenmoya commented on #1424
Closing in favor of https://github.com/react-toolbox/react-toolbox/issues/1636

[2018-01-29 20:42] #1424 closed

[2018-01-29 20:44] rubenmoya commented on #1406
To be honest, I don't think so, at least in `v2`, sorry!

[2018-01-29 20:44] #1406 closed

[2018-01-29 20:49] rubenmoya commented on #1377
Fixed in https://github.com/react-toolbox/react-toolbox/pull/1376

[2018-01-29 20:49] #1377 closed

[2018-01-29 20:50] rubenmoya commented on #1373
Unable to reproduce in playground

[2018-01-29 20:50] #1373 closed

[2018-01-29 20:52] #1348 closed

[2018-01-29 20:55] #1341 closed

[2018-01-29 20:57] #1329 closed

[2018-01-30 03:10] alexlapinski commented on #1278
I know this is an old issue, but I though I'd post my solution here as well.

Using the latest create-react-app and ejecting the app, I had to change my config that loads the css
to include the `modules: true` option.

[code]

[2018-01-30 09:59] PeterDaveHello commented on #1328
@javivelasco would you have any suggestions on this? Thanks :)

[2018-01-30 21:49] shudson250 commented on #1795
`autocomplete="new-password"` should work for you.

[2018-01-31 12:50] 1aGh commented on #1795
Yes that is perfect. It's finally works. But you must type autoComplete="new-password"

[2018-01-31 22:31] #1795 closed

[2018-02-01 12:56] 3af opened #1799 "Drop-down in table header inherits styling"
I think the drop-down should look the same no matter what, right?

Regular drop-down:
![obrazek](https://user-images.githubusercontent.com/33279089/35678723-ba141c7a-0754-11e8-8c94-b0ad3be94bf8.png)

Drop-down in table header:
![obrazek](https://user-images.githubusercontent.com/33279089/35678797-f9215b30-0754-11e8-8d2d-57418f2527df.png)

[Repository for reproduction.](https://github.com/3af/react

[2018-02-01 14:49] rubenmoya commented on #1799
Thank you for reporting this!

It should follow [the spec](https://material.io/guidelines/components/data-tables.html#data-tables-interaction), I'm not sure if it's the same as the dropdown but it's worth to have a look.

[2018-02-01 23:04] #1354 closed

[2018-02-02 20:18] SuperManEver opened #1801 "Installation problems"
I have difficulties with adding 'react-toolbox' to my project in particular with importing CSS using my configuration for css-modules. Can you please show a configuration for webpack which works for you?

it should look something like this
[code]

[2018-02-02 22:25] 3af commented on #1799
I think drop-down is a specialized [menu](https://material.io/guidelines/components/menus.html#menus-specs) and the spec you posted suggests

[code]

and it seems that 13sp is 12px and I'll use the 87% black. Does that seems correct for you @rubenmoya?

[2018-02-03 00:02] rubenmoya commented on #1799
Yeah, sounds good! I'm pretty `87% black` is `--palette-grey-900`, which is also our `--color-text`.

[2018-02-07 20:00] acthp opened #1802 "MenuItem loses event currentTarget"
In an ```onClick``` handler on a ```MenuItem```, ```ev.currentTarget``` is ```null```. This makes it difficult to find the element with the attached handler, e.g to inspect the ```dataset``` property.

```currentTarget``` is null because ```handleSelect``` defers calling ```onClick```. A react synthetic event is mutated over time as part of bubbling. ```currentTarget``` is only valid in scope of t

[2018-02-08 05:50] prakhargloify opened #1803 "composition is only allowed when selector is single :local class name not in ".raised", ".raised" is weird"
./node_modules/react-toolbox/lib/button/theme.css
Module build failed: Error: composition is only allowed when selector is single :local class name not in ".raised", ".raised" is weird
    at Array.map (<anonymous>)

[2018-02-11 05:08] xdfcfc0xa opened #1804 "eate react css modules"

[2018-02-11 05:08] #1804 closed

[2018-02-11 21:32] AlesMenzel commented on #1803
Are  u using it with CRA (create react app)? If thats the case then you need to include the "raw" component without styles and include the styles from react-toolbox-themr.

Example:
[code]

[2018-02-12 08:35] rubenmoya commented on #1803
If you're using create-react-app check https://github.com/react-toolbox/react-toolbox#usage-in-create-react-app-projects otherwise check https://github.com/react-toolbox/react-toolbox#usage-in-webpack-projects-not-create-react-app

[2018-02-13 16:02] lubarskyy commented on #1621
It is also reproducible in IE11, also you can check on the playground http://react-toolbox.io/#/components/date_picker

[2018-02-15 01:04] Steffan-Ennis opened #1805 "TABLEROW: Should pass the theme prop to child components"
When passing the displaySelect and theme prop to TableRow. The Checkbox components should also have the theme provided.

Instead if the TableRow was imported from `lib/table/TableRow` theme is empty for Checkbox components.

 TabelRow .js: 38  `<Checkbox checked={selected} onChange={this.handleSelect} />`

Should be  `<Checkbox theme={theme} checked={selected} onChange={this.handleSelect} />`

[2018-02-15 01:38] theskillwithin opened #1806 "theme nextcss question"
do I have to convert all my .scss themes to nextcss for v2 to work?

[2018-02-15 01:47] theskillwithin opened #1807 "class name undefined"
```<div class="styles-module__dropdown-contain___1g-ap"><div class="styles-module__dropdown___oANpR" data-react-toolbox="dropdown"><div data-react-toolbox="input" class="styles-module__value___1_ivS"><input class="undefined" tabindex="0" readonly="" role="input" name="design" value="Theme"><span></span></div><ul class="styles-module__values___1BAP5"><li class="styles-module__selected___YpWDZ">Them

[2018-02-15 03:46] #1807 closed

[2018-02-15 03:46] #1806 closed

[2018-02-15 05:01] theskillwithin commented on #1531
I am experiencing the same difficulties

[2018-02-15 09:42] lubarskyy opened #1808 "Datepicker - blinking input cursor in IE11"
Hey, I've stumbled upon bug on IE11 where `Input` component does not get blurred after `DatePickerDialog` becomes active. Here is short preview of the issue:

![react-toolbox](https://user-images.githubusercontent.com/24817919/36249810-363b61ea-123c-11e8-8e9f-16807db1acef.gif)

Chrome and Firefox works fine.

Win7
IE 11.0.9600.18738

[2018-02-16 14:08] 3af commented on #1799
I was researching this and it seems that since RT uses CSS modules I can't fix this by changing [CSS of dropdown](https://github.com/react-toolbox/react-toolbox/blob/a841d2a9c4c398281101feb687bc65f8cdd37902/components/dropdown/theme.css#L128) like
[code]
because `.table` comes from `Table` CSS module and will be processed by webpack.

The solution seems to be creating new component called somethin

[2018-02-16 22:50] batosi175 opened #1809 "multiline placeholder does not render to correct height on firefox"
`<Input type='text' multiline placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nulla turpis. Donec fringilla pretium nisl id suscipit. Maecenas efficitur accumsan bibendum. Donec eu vestibulum metus, eget viverra metus. Nulla congue urna ullamcorper dapibus vehicula. Integer aliquet nunc eu nisi suscipit malesuada. Curabitur semper, dui in ornare finibus, mi felis s

[2018-02-19 14:23] 3af commented on #1808
Confirmed.

[2018-02-19 17:35] mlcohen commented on #1694
Any status update on this? We use react-toolbox v1 extensively with React v15. We'd really love to upgrade to v2 but won't do so until react toolbox is compatible with React v16. What is the road map for react-toolbox?

[2018-02-20 12:47] LixarBowyay opened #1812 "TimePicker initial onClick does not occur"
When using the TimePicker component with a custom button to trigger it opened/closed, the initial click event (using no drag of the mouse) on the hours portion of the clock will not use the selected value. If you reload the page and attempt to reproduce, but this time instead click and drag even slightly, the hours field updates without trouble.

Steps to reproduce:
_Chrome/FF/Safari_

1. Load vie

[2018-02-20 14:53] 3af commented on #1675
In version 2 you can use regular `colSpan` and `rowSpan` attributes.

[code]

[2018-02-20 18:50] mlcohen opened #1813 "What is the current status with react-toolbox?"
Hi --

I wanted to know what the current status of react-toolbox is simply because activity appears to have come to a complete stop. I certainly recognize that the core maintainers are very busy and keeping an open source project alive and up to date is a lot of hard work; however, many of us who have fully adopted react-toolbox v1 for big projects, like myself, are hitting a critical point about

[2018-02-20 19:03] rubenmoya commented on #1813
Hi @mlcohen!

Right now there is no active development in `v1`, the only changes will be done by contributions, I know there is a PR open to update to React v16, but it has some changes related to `react-themr` and I don't really know what impact it could have, so I'm waiting for some feedback from Javi to merge it. I'll try to push him a little bit this week but since he just joined Zeit I'm gues

[2018-02-20 19:13] #1675 closed

[2018-02-20 19:27] mlcohen commented on #1813
Thanks for the quick response, @rubenmoya! So `v3` is where things are heading. Okay, that's good to know. It would be helpful if, say, @javivelasco where able to chime in or writeup a communique about what his plans are regarding `v3` and when (roughly) it will be ready for use. I only found out about `v3` because I was searching around about `v2`.

Unfortunately I have to admit that things are s

[2018-02-20 21:53] rubenmoya commented on #1813
I completely understand that it's hard to stick with it when the future is unclear.

I'll try to have both, `v1` and `v2` with React 16 this week, and also talk to Javi to push the `v3` development.

Thank you for your message and let's see how it goes :)

[2018-02-20 21:53] #1813 closed

[2018-02-20 21:54] 3af opened #1815 "TypeScript: Some wrapper components doesn't know about HTML attributes"
E.g. `TableCell` is missing [`colSpan` and `rowSpan`](https://github.com/react-toolbox/react-toolbox/issues/1675) attributes.

`IconMenu` doesn't know about `title` attributes even though it's applied.

[2018-02-20 22:03] #1803 closed

[2018-02-21 07:14] #1801 closed

[2018-02-21 07:17] rubenmoya commented on #1809
There is a PR related to multiline too, but with IE11 https://github.com/react-toolbox/react-toolbox/pull/1800, I'm guessing we'll have to review how multiline works

[2018-02-21 07:34] rubenmoya commented on #1812
Hi! What version of react toolbox are you using? I haven't been able to reproduce it with `v2`:

![time_picker](https://user-images.githubusercontent.com/905225/36468056-162ba04a-16e2-11e8-9b8e-65fc46f5c48d.gif)

[2018-02-21 07:40] rubenmoya commented on #1754
The only thing I can see is that you're mutating the state in `state.navbar.searchValue = action.payload`, probably since you're mutating the state, when you return the new object it "doesn't change" so redux does nothing.

My advice is to debug it slowly, first see if `handleSearchInput` is called, then `onSearchInput`, and then debug the reducer to see if it's doing what you want it to do.

[2018-02-21 07:42] #1754 closed

[2018-02-21 07:56] rubenmoya commented on #1789
The dropdown basically renders:

[code]

Since the input is `readOnly` it's not validated. Adding `readOnly={false}` to the `<Dropdown />` fixes it.

[2018-02-21 15:38] LixarBowyay commented on #1812
I believe this can be closed, the problem was something else other than this library taking over the initial click event.

[2018-02-21 16:39] #1812 closed

[2018-02-21 17:52] markolofsen commented on #1754
@rubenmoya I did it already, Thanks!

[2018-02-21 19:36] jmar777 commented on #1546
Selector specificity questions aside, I am kind of confused regarding the order that styles are being added to the generated stylesheet. I just upgraded from 1.3 to the latest 2.x beta, and now my style overrides are failing to "win" as well.

Specifically, this happens in case where there was a specificity "tie", and the regression in styling behavior happens where react-toolbox styles are now be

[2018-02-21 20:14] jmar777 commented on #1546
Update: sorry about the noise, turns out this was indeed a webpack configuration issue. I'll post the explanation/solution here just in case anyone else is running into the same problem:

1. Back on react-toolbox 1.3, I had a webpack rule for `.scss` files, which was setup to work for both our project-specific styles, as well as for react-toolbox.
2. After upgrading to react-toolbox 2.x, as a resu

[2018-02-21 21:18] jmar777 commented on #1694
I have a little bandwidth I could lend to the effort as well (unless @rubenmoya's PR is good to go as is, of course). Would love to contribute however I can to get this compatible with React 16... just need a little guidance on where that energy is best spent. :)

[2018-02-21 21:22] jmar777 commented on #1813
Hmm. Well, I _just_ upgraded our codebase to v2. Am I better reverting back to v1 and waiting for v3, or what's the recommended version at this point?

[2018-02-21 23:44] mlcohen commented on #1813
@jmar777 Looks like @rubenmoya has a PR ready to go https://github.com/react-toolbox/react-toolbox/pull/1814 😃

[2018-02-22 01:14] jmar777 commented on #1813
@mlcohen Ha, yeah - I'm excited about that one! I was more trying to determine which branch was considered more "stable" at this point, though.

I'm assuming that's `v2`, but seeing as it hasn't made it out of beta yet, I wasn't entirely sure where things stood now. I guess @rubenmoya indicated that `v2` would still get bug fixes, so that's probably good enough for my needs, at least.

[2018-02-22 15:30] pmyers88 opened #1817 "Autocomplete component doesn't handle falsy keys"
I'm using the `Autocomplete` component for selecting months. My `source` looks like this:
[code]
Autocompleting "January" doesn't work - after "January" is selected the input will change to being empty.

I looked at the source and noticed [here](https://github.com/react-toolbox/react-toolbox/blob/dev/components/autocomplete/Autocomplete.js#L187) that it's doing a check to see if `key` is truthy. I

[2018-02-25 16:53] rubenmoya commented on #1546
Thank you for your answer @jmar777! Closing since seems to be solved using your configuration :)

[2018-02-25 16:53] #1546 closed

[2018-02-27 15:18] Sean-Sekora opened #1818 "I'm having trouble getting this to work with http://rekit.js.org/"
I tried adding react-toolbox to Rekit but get the following error.

`ERROR in ./node_modules/css-loader!./node_modules/react-toolbox/lib/button/theme.css
Module build failed: Error: composition is only allowed when selector is single :local class name not in ".raised", ".raised" is weird
    at /Users/ssekora/Desktop/test/node_modules/postcss-modules-scope/lib/index.js:26:13`

[2018-02-28 07:04] ashishdhyani opened #1820 "How to change the TAB selected color using react-css-themr ?"
![image](https://user-images.githubusercontent.com/21311351/36774341-a5f39bd6-1c98-11e8-976a-e747371fb467.png)

How to change the TAB selected color using react-css-themr with below approach.

# theme.js

import RTButton from './css/button.css';
import RTDatePicker from './css/datepicker.css';

export default {
  RTButton, RTDatePicker,
};

[2018-02-28 08:07] rubenmoya commented on #1818
It looks like a PostCSS configuration problem, have a look at [usage in webpack projects](https://github.com/react-toolbox/react-toolbox#usage-in-webpack-projects-not-create-react-app)

[2018-03-01 11:43] Kinglet1 opened #1821 "TimePickerDialog crushes with error 'Cannot read property 'handleCalculateShape' of undefined'"
Cannot read property 'handleCalculateShape' of undefined in TimePickerDialog.js:90

[2018-03-01 13:49] guilhermepontes commented on #1821
Same issue here.

[2018-03-01 15:53] PDS42 opened #1823 "404 on <List /> Component's playground sample images"
![screen shot 2018-03-01 at 4 51 06 pm](https://user-images.githubusercontent.com/11089426/36854273-e2c1393c-1d70-11e8-9fec-bcca33e7d760.png)

The dropbox content cannot be found, displaying this. Thought you'd like to add fresh ones to make it look better!

[2018-03-03 10:57] #1694 closed

[2018-03-03 11:02] #1817 closed

[2018-03-03 11:25] #1805 closed

[2018-03-03 11:27] #1662 closed

[2018-03-03 18:13] BoyWithSilverWings commented on #1821
Can I pick this up?

[2018-03-04 19:07] rogeliotg opened #1825 "how to create a single stylesheet css for all react-toolbox and take away styles from components?"
as a several react-toolbox components users, I like the library but I will prefer one without styles (I see nested stylesheets on components tree on dom as unclear, error prone, and a performance handicap). I will prefer a system with a single css style sheet. Right now, I must use !important on my own css to overcome design problems and iterations.
I want the total control of css both for perform

[2018-03-05 07:27] #1730 closed

[2018-03-05 14:42] sho3it commented on #1618
I have the same problem. does anyone have a solution?

[2018-03-06 12:11] VineetJalgaonkar commented on #1323
I came across this issue. but I am not using the react-toolbox. I created div's. On parent div there is onBlur and on the data div i.e. child div there is onClick. There is specific version of IE 11.0.9.17 there its calling the parent event(onBlur) first when I clicked on the Child div. In the rest of the browsers its working perfectly.

[2018-03-07 04:26] ankurarora commented on #1057
I am facing the same problem, couldn't find any example to explain how to correctly import build.

[2018-03-07 15:22] ionelaluncanu commented on #1057
http://google.github.io/material-design-icons/#getting-icons

[2018-03-08 07:00] ashishdhyani commented on #1820
this one I achieved using below code:
[code]

[2018-03-08 07:08] ashishdhyani opened #1826 "Input Control is not rendering properly"
When Input controls are out of focus, its not displaying grey line under the controls:
![image](https://user-images.githubusercontent.com/21311351/37137808-72b09558-22e2-11e8-8009-97320c7aec2d.png)

Also when I enter the values make it out of focus, it messes up the whole control look n feel
![image](https://user-images.githubusercontent.com/21311351/37137797-667e5162-22e2-11e8-8b76-df41023e47e5.p

[2018-03-08 10:03] stanley90 commented on #1330
Have you guys figured this out?

[2018-03-08 21:45] KhushilMistry commented on #1653
I guess this issue does not exists now. Div has following className :
[code]

[2018-03-08 21:56] KhushilMistry commented on #1510
Hey, I want to work on this bug.
Can't we add activeClassName into default props as empty string ?

[2018-03-08 22:01] KhushilMistry commented on #1823
Hey, I want to work on this.
Can you share the new avatar URLs ?

[2018-03-08 22:45] KhushilMistry commented on #1343
Hey, I want to work on this.
How can we find out that its light background or dark background ?
Or we should change only this for light backgrounds ?
[code]
to
[code]

[2018-03-09 07:58] KhushilMistry commented on #1378
Is this issue still valid ?

[2018-03-09 10:21] rubenmoya commented on #1510
The problem is in [Tab.js#L64](https://github.com/react-toolbox/react-toolbox/blob/dev/components/tabs/Tab.js#L64), we're only checking for `active` in the conditional, you can check how [classnames](https://github.com/JedWatson/classnames#usage) works.

I think we should be fine by adding `activeClassName` to that check something like `active && activeClassName` would do the trick :)

Feel free t

[2018-03-09 11:43] Shuklina opened #1830 "ckbox reactstrap"

[2018-03-09 11:43] #1830 closed

[2018-03-09 14:41] rubenmoya commented on #1343
I think we have to review all colors in the project...

According to the Material Design Spec the bottom line should be `Color: 42% black` and the text should be `Color: 54% black` for normal inputs, and the text should be `Color: 38% black` for disabled inputs.

We're using `--color-text` which is `--palette-grey-900`, also known as `rgb(33, 33, 33)`, which is not black, so yeah, everything in th

[2018-03-09 14:44] rubenmoya commented on #1653
Closing then, thank you!!

[2018-03-09 14:44] #1653 closed

[2018-03-09 14:47] rubenmoya commented on #1823
Feel free to pick whatever you like and add it to the `www/images` folder in the documentation :)

[2018-03-11 04:00] acthp commented on #1368
Having this issue with beta.12 and rhl 4.0.0. Is there any solution?

[2018-03-12 12:40] dalefrancis88 commented on #1346
Well no answer in a year, no point keeping it open...

[2018-03-12 12:40] #1346 closed

[2018-03-12 21:53] mgutz commented on #1057
Why aren't there simple steps for this kind of stuff?

[code]

Add this to `.js` file which imports your css

[code]

[2018-03-13 01:24] ankurarora commented on #1057
Thanks, but I am not using create-react-app and that didn't work with my custom setup.

[2018-03-14 07:31] aleksandryackovlev commented on #1821
@guilhermepontes Your solution is incorrect. There is no refs in componentDidUpdate in React 16. handleCalculateShape will never been called on the Clock component. As a result, the radius and the center of the clock face are wrong. So handleHoursChange and handleMinuteChange functions work incorrectly.

[2018-03-14 10:27] guilhermepontes commented on #1821
@aleksandryackovlev you are correct, I closed the pull-request.

[2018-03-14 11:41] aleksandryackovlev commented on #1821
I think this workaround in TimePickerDialog.js will fix the problem:

[code]

[2018-03-15 06:16] paulmichaelxd opened #1833 "Ability to Disable Overlay in Drawer Component"
I would like to use the Drawer component without the overlay, so the rest of the page is still interactive.

I know I could hide the overlay with CSS in the theme prop, but this seems like a common enough use case to be a boolean supplied via prop.

Please let me know if I'm missing something here. Thoughts on this?

[2018-03-20 11:02] jimmywarting commented on #1167
man... have too google it to figure it out,

nonconventional,

[2018-03-21 12:49] johnkeane475 commented on #1560
This would be a very convenient feature. Has there been any progress on this? If not, does anyone know of a workaround?

[2018-03-22 10:57] deedoc commented on #1787
Hi @3af! Could you help to install 2.0.0-beta.12 correctly? I tried to but no luck. My webpack.config is very similar with yours one (https://github.com/react-toolbox/react-toolbox/issues/1801#issuecomment-362721276)

I think libraries's versions are matter. I tried different versions of postcss-loader but again... no luck.

Here is my package.json
[code]

Here is my webpack.config.js:
[code]

Her

[2018-03-23 07:43] mangalzefo commented on #715
can we create drag and drop widget using existing widgets?

[2018-03-24 00:57] jamesplease opened #1837 "Cannot start website locally"
Hi there,

I tried to run the docs site locally. I cloned the repo, and did the following:

1. `npm install` in the root directory
2. `npm install` in `/docs`
3. `npm run build && npm run css` from the root directory
4. `npm run start` from `/docs`

---

The server starts, but attempting to access it renders a white page with this message in the server stack trace:

[code]

Am I missin' something?

[2018-03-24 01:02] jamesplease commented on #1837
Nevermind – I was on the `dev` branch. `master` works. Sorry for the noise!

[2018-03-24 01:02] #1837 closed

[2018-03-24 11:37] paulmichaelxd commented on #1594
Any updates on this?

[2018-03-24 11:49] hansena commented on #1594
What version are you using?  I'm seeing drawer themes working as expected in the playground...

http://react-toolbox.io/#/components/drawer
[code]

[2018-03-24 19:16] paulmichaelxd commented on #1594
If you see the original question, we are talking about adding styles to the Drawer's **overlay** via the theme prop. In your example, you are adding styles to **.active** and **.content**, both of which work fine but are not a part of the issue at hand.

It appears as though React Toolbox does not expose the themes to the Drawer overlay, and there isn't even a way to disable the overlay altogether

[2018-03-24 19:18] paulmichaelxd commented on #1833
Update:

It appears that we are unable to add styles to the Drawer's overlay because the theme prop only applies to the subcomponents of the Drawer itself and not to the .wrapper or .overlay parent components.

This is a major issue, there are plenty of examples as to where we would need to use a Drawer without an overlay. One main example would be on the React-Toolbox.io website itself.

This is

[2018-03-24 19:19] paulmichaelxd commented on #1594
While you can style the overlay on a Dialog component, it seems this feature is missing for Drawers.

[2018-03-27 19:17] fchengpc commented on #1360
@unleashit i think im facing the same issue as everybody else here. How did you get it working on your SSR app? do you mind share the sample setup code?
I'm trying to do this with `next.js`

[2018-03-27 19:33] unleashit commented on #1360
Yeah I eventually did although in my case it turned out that my starter repo has a whitelist only policy for csp and nunning node scripts (the latter was the surprise). This was related to React Universally but my guess is next.js might have something similar?

[2018-03-28 07:08] evheniy opened #1838 ""react-hot-loader": "^4.0.0" breaks tabs and radio buttons"
Hi
After swithching to "react-hot-loader": "^4.0.0" I cannot work in dev env with radio buttons and tabs.
Tabs are not visible.
Radio buttons I can see only as read only.

[2018-03-28 14:16] 3af commented on #1787
Hi @deedoc,

sorry for late response. I'll try to look at it this week if you haven't solved it yourself by now.

[2018-03-28 19:14] deedoc commented on #1787
@3af, I'm using another ui-kit right now, but i really love react-toolbox and hope you help me (and not just me I think)
Will be waiting, thank you!

[2018-03-29 09:30] #1838 closed

[2018-03-29 09:32] evheniy commented on #1838
It's fixed if copy from git.
So we are waiting a new release.

[2018-03-29 20:25] UX-Unicorn opened #1839 "cssnext variables not showing up"
I am not getting any errors in the console but none of the cssnext variables are being conpiled.  In the dev tools it just shows up as the variable name?

[2018-03-30 15:29] hansena commented on #1839
can you provide some more information?  can you recreate this in a codesandbox?

[2018-04-02 16:15] UX-Unicorn commented on #1839
I had an older version of postcss loader installed and it was breaking it.  I fixed it by updating the loader.  THanks

[2018-04-02 16:15] #1839 closed

[2018-04-02 18:21] theskillwithin opened #1840 "IOS Dropdown"
Is there a way to convert the dropdown to use the IOS dropdown menu on mobile?

[2018-04-03 02:07] ashishdhyani opened #1841 "How to change the appBar leftIcon color ?"
I wanted to change the color of leftIcon in appBar.

  .leftIcon {
    color: #1ebef7;
  }

When I put this it doesn't change, it stays the white color.

[2018-04-03 02:38] #1820 closed

[2018-04-05 11:52] jonisar opened #1843 "Feature request: make components available with Bit"
Hi Guys,

First thing's first - great work. Loved what u guys are doing!

Would it be possible to make your components available with Bit?
https://github.com/teambit/bit

Examples:
https://github.com/GSS-FED/vital-ui-kit  -> https://bitsrc.io/gssfed/vital-ui-kit-react (check out "card")
https://github.com/teambit/movie-app -> https://bitsrc.io/bit/movie-app (check out "hero")

It will:

1. Enable

[2018-04-06 09:44] #1826 closed

[2018-04-09 08:05] vovkind opened #1844 "Autocomplete with Google Places API Web Service - not showing dropdown list"
Hi.

I try to combine Autocomplete component with source data from Google Places API. My problem is that dropdown list with suggestions is not being shown.

For example, I type mainstreet 7. I expect to get suggestions for this street and represent them.
So, state.value = 'mainstreet 7'
And state.source = [
  "7 West Main Street, Alhambra, CA, USA",
  "7 South Main Street, Akron, OH, USA",
 "7 Mai

[2018-04-09 14:12] hansena commented on #1844
This looks to be working as expected in the [playground](http://react-toolbox.io/#/components/autocomplete)...
[code]
![screen shot 2018-04-09 at 10 11 19 am](https://user-images.githubusercontent.com/15346521/38502805-6bb2b14a-3bde-11e8-909a-901c3d310e5e.png)

Can you provide some more info on your implementation or errors that may be in your console?

[2018-04-09 19:30] hansena commented on #1841
you need to use the styles prop to pass in a classname as a string if you don't want to use css-modules...
[code]
![screen shot 2018-04-09 at 3 27 09 pm](https://user-images.githubusercontent.com/15346521/38518397-c4e26e32-3c0a-11e8-8643-6e2978c905a3.png)

[2018-04-09 21:35] vovkind commented on #1844
Hi, @hansena. I appreciate you for a quick reply.

I added multiple={false} property to the component. So it defined like this:
      <Autocomplete
      direction="auto"
      selectedPosition="below"
      label={this.props.inputProps.label}
      onChange={this.onChange}
      onQueryChange={this.onQueryChange}
      value={this.state.value}
      source={this.state.source}
      multiple={fals

[2018-04-09 23:28] Narvey opened #1845 "Table doesn't render, passes props down to HTML <table> element"
When I do this,
[code]

I get this out of the React tab in FF Dev tools:
[code]

1. Why are the props being passed on to the html table? is the React Table ignoring them?
2. Why is there nothing in thead? my model is valid, it got picked up by Table, why does this not match what happens when I do the same thing in the [sandbox](http://react-toolbox.io/#/components/table)?

[2018-04-10 10:47] hansena commented on #1844
Make a pull request?

[2018-04-10 10:53] hansena commented on #1845
Can you recreate this in a [codesandbox](https://codesandbox.io)?  It is tough to help out without more information

[2018-04-10 15:26] vovkind commented on #1844
I'm new... really don't know how to do it. Don't want mistakes.

[2018-04-10 16:10] Narvey commented on #1845
@hansena here: https://codesandbox.io/s/mzmy7zk7vp

[2018-04-10 16:49] hansena commented on #1844
@vovkind this should get you pointed in the right direction: https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2018-04-11 13:31] quetzaluz commented on #1637
Very similar to https://github.com/react-toolbox/react-toolbox/issues/883 -- agreeing making these components align with the material spec and have a clear button option would be great and more in line with spec

[2018-04-14 09:19] rogeliotg opened #1846 "Problem initializing Clock from TimePickerDialog on react 16"
Hi:
After migrating to react 16 the TimePicker is failing. It sees that the Clock inside TimePickerDialog is not correctly initialized.

TimePickerDialog.js:90 Uncaught TypeError: Cannot read property 'handleCalculateShape' of undefined
    at TimePickerDialog.componentDidUpdate (TimePickerDialog.js:90)
    at commitLifeCycles (react-dom.development.js:9706)
    at commitAllLifeCycles (react-dom.d

[2018-04-16 15:40] Narvey commented on #1845
Too bad you can't make your table component function in any useful manner **whatsoever**.

For now, I'll go with https://adazzle.github.io/react-data-grid/, but it would have been nice to have the same look and feel as the other components.

[2018-04-17 01:38] masakij commented on #1846
The latest published version does not support React v16.
React v16 support version will be published in the near future.
https://github.com/react-toolbox/react-toolbox/pull/1814

Which version of react-toolbox was used?

[2018-04-17 06:52] jmrosdev opened #1847 "Problem with animation checkbox in IE10"
Hi.
I am having problems with the animation that occurs when clicking on the checkbox component in internet explorer 10. The animation occurs when you do the action but it does not disappear as it does in the other browsers. It also happens with radiobuttons.
![image](https://user-images.githubusercontent.com/13112811/38853044-51d65c2e-421c-11e8-9059-fdd76f160e41.png)
![image](https://user-images.

[2018-04-18 08:05] rubenmoya commented on #1846
Let's wait until we publish the new version with React 16, marking it as bug in the meantime

[2018-04-18 08:13] rubenmoya commented on #1845
Hi @Narvey!

In React Toolbox v2 the table component has been rebuilt since, as you say, it wasn't usable at all.

I've tried this in the website playground and it works, so I'm guessing there is something broken in the table in the latest version.

[code]

Since we're not supporting the v1 anymore my advice is to upgrade to React Toolbox v2, I'm marking this as a bug in case someone want's to con

[2018-04-18 18:45] flushentitypacket opened #1848 "Typescript 2.0.0 beta types/typings fix"
Leaving this for any folks trying to use 2.0.0 beta and TS 2.4+.

The TS typings were fixed in this PR https://github.com/react-toolbox/react-toolbox/pull/1615 but are not in any official release.

I ended up [(temporarily) forking the project to reflect 2.0.0-beta.12 plus the typings fix](https://github.com/luminopia/react-toolbox/tree/51fc199cee441606cf1c6aec74a1152c460dfb20). Hope this helps so

[2018-04-21 07:49] maracuja-juice opened #1849 "ThemeProvider doesn't have a declaration file"
I'm using this package (2.0.0-beta.12) with Typescript and when using the `ThemeProvider` I get the error that there's not a declaration file.
What can I do against this because I see that you actually have a `.d.ts` file for that component.

This is my import:
`import ThemeProvider from 'react-toolbox/lib/ThemeProvider';`

[2018-04-22 13:16] maracuja-juice commented on #1849
Temporary workaround is to declare the module:
```declare module 'react-toolbox/lib/ThemeProvider';```

[2018-04-23 11:05] qapquiz commented on #1523
DO NOT push boolean in JSX expression. It will fix this issue.

[2018-04-25 16:25] rubenmoya commented on #1840
I don't think so since it's just a `div`, not a `select`

[2018-05-04 07:10] kamunivijay commented on #1639
![image](https://user-images.githubusercontent.com/35897357/39616297-50025bc6-4f98-11e8-97c8-0356be904985.png)

[2018-05-08 05:14] danieljodeci commented on #1535
Any updates on this? Still receiving this error using the Tabs component.

[2018-05-08 14:01] ankurarora commented on #1821
any solution to this problem? I am facing the same bug.

[2018-05-12 17:11] vovkind commented on #1618
I have the same. Some suggestions, team, please?

![calendar](https://user-images.githubusercontent.com/9039260/39959851-a47280e4-5620-11e8-8ea0-30177760f21f.png)

[2018-05-14 13:43] ankurarora commented on #1821
I just used anonymous function for timeout and called ```clock.handleCalculateShape```, it started working. Could you please check PR [https://github.com/react-toolbox/react-toolbox/pull/1852](url)

[2018-05-14 20:01] dreadheadsic commented on #1155
@ankurarora solution is to use `overrideComponentTypeChecker` like shown in [this comment](https://github.com/react-toolbox/react-toolbox/pull/1164#issuecomment-274853442)
Works with react-hot-loader@4.0.0

[2018-05-17 13:13] rubenmoya commented on #1821
Hi! I don't think adding a `setTimout` of 1 second is the solution to this.

Maybe we could use a combination of `componentDidUpdate` checking for `this.clockNode` and a ref callback to call `handleCalculateShape` once the ref is set.

What do you think?

[2018-05-17 23:27] ankurarora commented on #1821
Hi @rubenmoya, I didn't add it, it was already there. I just added a wrapper function around it so it doesn't loose the context hence able to call a method from ```this.clockNode```.

[2018-05-18 13:12] DavidHenri008 opened #1853 "Multiple class not working as expected"
Hi,
I am trying to add a class dynamically to do the styling but it is not working as expected.

My react code:

My css file:

The AppBar is blue and the hover is working. However since the disabled class is added I would expect the color to be gray.

Thanks.

[2018-05-21 12:35] gcfabri opened #1854 "How to integrate it with Next.JS?"
Please, how could we integrate react-toolbox with NextJS?

[2018-05-22 19:44] antoniopresto commented on #719
I'm using this for now: https://gist.github.com/antoniopresto/89aad029df263b023c62fa02928d1a78

[2018-05-24 13:25] DavidHenri008 opened #1855 "IconButton does not implement button theme"
The IconButton element does not support the button theme customization.
I was expecting, as mentioned by the documentation, that the button theme will be applied to the IconButton component when the className is constructed but it is not. It seems that only theme.toggle, theme.inverse, theme.primary, theme.accent and theme.neutral are considered.

[code]
Is this normal?

[2018-05-25 13:06] DavidHenri008 commented on #1453
I am experiencing the same issue. I realized it when I tried to figured out why the menu was not closing when clicking a MenuItem.  The item.type always returns Themed as type...

[2018-05-30 13:00] DavidHenri008 commented on #1790
I do not know if this is relevant, but after few tries, I realized that the original --input-text-bottom-border-color is used/applied only when it is not composed of a color().

So this does not work:
 --input-text-bottom-border-color: color(var(--color-text) a(12%));

This works:
 --input-text-bottom-border-color: rgba((var(--color-text), 0.12);
where --color-text is in decimal (ex: 240, 240, 210

[2018-05-30 13:28] DavidHenri008 opened #1856 "Magrate from cssnext to postcss-preset-env"
The library cssnext is now deprecated and is replaced by postcss-preset-env.

The ReactToolbox should probably migrate to this library in order to stay up-to-date.
This may requires multiple modifications to current css. For example, the color() function will have to be replaced by the mod-color() function.

[2018-05-30 20:34] jmar777 opened #1857 "Proposal: rework Dialog width styling"
I had an idea for an improvement to the Dialog component, but I would love to get some feedback on it before working on the actual code.

At present, the Dialog width management is a bit... wonky? As you hit various breakpoints, they snap around to different widths, and the result is that as you resize the window, the Dialog alternates between larger and smaller dimensions:

Example (_note how as

[2018-06-01 13:18] DavidHenri008 opened #1858 "Table documentation is outdated"
The documentation of the table on your website ([http://react-toolbox.io/#/components/table](http://react-toolbox.io/#/components/table)) is completely outdated.
I guess it simply use an old md file.

[2018-06-01 13:48] DavidHenri008 opened #1859 "Table not showing due to theme"
The table is not showing at all. After few researches I realized that the code is doing some class type comparison in order to filter header than data row but this comparison always returns false...

In Table.js there is the following code:
[code]
The isComponentOfType function does the comparison, but it is never true.
For example:
TableHead never equals child.type because both are the themed fun

[2018-06-02 21:50] oliviertassinari commented on #1857
@jmar777 I agree, I have already seen this approach working.

[2018-06-03 21:47] daliclass commented on #1844
Is anyone working on this? Happy to pick it up as my first contribution

[2018-06-03 21:51] daliclass commented on #1844
Is anyone working on this? Happy to pick it up as a first contrib

[2018-06-03 21:51] daliclass commented on #1844
Will pick this up as my first contrib

[2018-06-06 09:30] piotrdytkowski opened #1860 "Add Greek language support"

[2018-06-06 15:34] nathandunn commented on #1370
+1 to document!   That is a nice feature.

[2018-06-12 09:14] ashishdhyani commented on #1591
@pupeno, were you able to resolve this issue.
I am getting the same error.

[2018-06-14 15:33] ruanxianzhi commented on #490
It does not work for me as well. There is no constraint on the input length.
<img width="337" alt="image" src="https://user-images.githubusercontent.com/10456677/41422334-b74ba2a8-6fc6-11e8-99df-2bbf2ce46c85.png">
Any thoughts?

[2018-06-14 18:27] orosro commented on #490
This is not related to React. maxLength is an HTML property that applies to input of strings, not of type number:
https://www.w3schools.com/Tags/att_input_maxlength.asp

read here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input

If you want to prevent the user from entering a large number use the "max" property

[2018-06-15 13:21] annetts commented on #1591
@pupeno @ashishdhyani Any ideas how to fix this issue?

[2018-06-18 09:28] ashishdhyani commented on #1591
@annetts,
actually issue is with react-toolbox@2.0.0-beta.**13** version.

I installed react-toolbox@2.0.0-beta.**12** version and it resoved my issue.

[2018-06-18 10:47] pupeno commented on #1591
I'm sorry, but I'm not working with react-toolbox anymore.

[2018-06-19 05:40] lvLokkie commented on #1591
@pupeno I met similar problem, works fine [there](https://github.com/lvLokkie/react-mobx-webpack-react-toolbox-boilerplate)

[2018-06-28 19:05] saeta-eth commented on #1477
+1

[2018-06-29 18:02] natedanner commented on #1455
Ran into this same issue. [css-modules-require-hook](https://github.com/css-modules/css-modules-require-hook) fixed it for me.

I used the import/configuration defined here https://github.com/css-modules/css-modules-require-hook#using-with-babel-node--es6-imports

[2018-06-29 19:26] kayleighbray opened #1865 "Dropdown not closing"
Almost same issue as https://github.com/react-toolbox/react-toolbox/issues/1475 but the issue was closed without a good resolution (the only difference being that for me active is not getting switched when an item is clicked but the value is)
Conflicts with any versions of postcss-loader are not documented so this is still a bug that should be fixed.

[2018-06-29 19:54] kayleighbray commented on #1865
A solution for https://github.com/react-toolbox/react-toolbox/issues/1699 would make it possible to use external state to override this bug

[2018-07-05 05:49] #1856 closed

[2018-07-06 15:34] MJGTwo commented on #1591
It is still not working for me.

@lvLokkie I'm currently setting up a cloned project that uses react-toolbox@2.0.0-beta.12 as well as added the [transform export extension](https://babeljs.io/docs/en/babel-plugin-transform-export-extensions/) as suggested above, however it is not working. If you are implying that your linked solution works, can you give instructions for how to use it? Your README.

[2018-07-06 15:48] MJGTwo commented on #1591
I got it to work. I deleted node_modules/, `npm install`, edited `react-toolbox/components/index.js` to reflect ES6 style importing (similar to @hansena's [commit](https://github.com/hansena/react-toolbox/commit/e761837b2b3fb82fec559042975d5880787c063e)) and ran `npm run server` and it worked.

[2018-07-07 04:27] jacargentina opened #1868 "How to re-use lib/colors.css on js components"
I want to have all my app with react-toolbox "standard colors". I some react libraries, like [Victory](https://github.com/FormidableLabs/victory) in my case, they accept colors directly, not styles.

So in this case, i would love to have centralized colors (lib/colors.css) and use them by their name on my components. Is that possible right now?

I'm thinking for a ugly hack: by simply copy/paste t

[2018-07-09 12:26] hansena commented on #1868
@jacargentina
1. Define the variables you want to override in a javascript file somewhere in your project:
[code]
2. Update the postcss node of the LoaderOptionsPlugin in your webpack config:
[code]

[2018-07-09 13:20] jacargentina commented on #1868
I don't want/need to define any variable because they are already there ... In file lib/colors.css

For example, --palette-blue-grey-400

Redefining what is already there is what I want to avoid, ie code  duplication

Hope you get it?

[2018-07-14 00:40] ankurarora commented on #1821
Hi @rubenmoya , I have closed previous pull request (#1852 ) and opened a new one (#1869 ). Implemented a ref call back and checked for "active". I have removed componentDidUpdate as it was needed after the changes I've made.

[2018-07-16 08:24] rubenmoya commented on #1846
Closed via https://github.com/react-toolbox/react-toolbox/pull/1869

[2018-07-16 08:24] #1846 closed, assigned to nobody

[2018-07-16 08:24] rubenmoya commented on #1821
Closed via https://github.com/react-toolbox/react-toolbox/pull/1869

[2018-07-18 08:52] csKangGdcomm commented on #1790
I am sorry but the above solution doesn't work for me.

for me, https://github.com/react-toolbox/react-toolbox/blob/dev/components/input/config.css#L11 is not working.

the style of  border-bottom  is null.
(    border-bottom: 1px solid var(--input-text-bottom-border-color); is showing on browser but it doesn't really apply. there is nothing on Computed section. )

So I have to put below in my cod

[2018-07-18 17:18] svillegas9 commented on #1591
Greetings, some other solution.

I do what @MJGTwo and @hansena recommend but don't generate the run, instead all React Toolbox components break down

[2018-07-19 09:43] bernadettursu opened #1870 "Dropdown won't close after selecting an item"
After replacing the onClick handler with onMouseDown in the Dropdown component (#1521, which fixed an IE11 issue), it needs two clicks to hide the selection list, although I can see the item was selected. (#1865 seems related too)

What I noticed looking into the props and prototypes of the Dropdown component is that **handleSelect** the **close** prototype is called, but also **handleFocus** is c

[2018-07-20 09:55] ulfryk commented on #1623
I get same issue with `2.0.0-beta.13`

[2018-07-20 12:52] msholty-fd opened #1871 "README.md instructs to npm install postcss when this repo itself doesn't have it"
Is it necessary to install postcss to make this work? I see that this repo itself, along with the demo, doesn't have postcss directly installed in the package.json as a dependency. I've been having issues getting the styles to render just like the demo so I was just trying to mimic it exactly, and noticed this.

[2018-07-20 18:20] msholty-fd commented on #1871
Closing this issue, but noting that it would be wise to install a specific version of postcss as css-loader depends on it as well as other postcss plugins. Best to just install one you know will work with the plugin ecosystem you have.

[2018-07-20 18:20] #1871 closed, assigned to nobody

[2018-07-23 20:39] flowermm commented on #1591
I saw that same 'Module parse failed' error because of how I was importing components

If you are using an import like:
import { Snackbar } from 'react-toolbox';

try using:
import { Snackbar } from 'react-toolbox/lib/snackbar';
Or
import { Snackbar } from 'react-toolbox/lib'

Just double check your imports and see if that helps :)

[2018-07-24 17:22] jairmilanes commented on #1868
You can just import the colors.css into your own scss files and use it:
[code]

Just remember to import the `color.css` into every scss file you want to use it, I personaly put do this inside a `defaults.scss`:
[code]

and then I import the defaults into other scss files.

Hope it helps!

[2018-07-24 17:55] jacargentina commented on #1868
@layoutzweb I'm not using sass here, nor want to!

[2018-07-25 07:45] stevefan1999-personal opened #1873 "Use `*.module.css` instead of `config.css` and `theme.css`"
This could help with CRA and Razzle.

[2018-07-26 01:47] willbowling commented on #1595
Is this still an issue? Can we close this if not?

[2018-07-26 01:49] seiji619 commented on #1595
I don't think so. Let's close it.

[2018-07-26 01:49] #1595 closed

[2018-07-29 22:06] charleslaw commented on #1057
I am using a custom setup and added the following to my index.html:

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

[2018-07-30 04:10] charleslaw commented on #1547
The docs should get updated, does anyone know where the text for the docs is located?

[2018-07-30 04:11] charleslaw commented on #1547
Ah, it's not in the doc folder where, just after submitting the comment I found it: https://github.com/react-toolbox/react-toolbox/blob/dev/components/input/readme.md I will update at some point unless someone beats me to it

[2018-07-31 14:40] that1matt commented on #1854
Here is how I am using react toolbox with next.js

[code]

I altered this from using an internally built ui component library, and this code I found [HERE](https://github.com/zeit/next.js/issues/4796#issuecomment-406235095)

[2018-08-01 06:24] shasiuk1 commented on #626
Any chance to see Grid in nearest release or any plans to add it?
If not, what's the best alternative?
Thnx

[2018-08-01 10:43] jamesmarrs commented on #1870
There is a PR for this, but in the meantime, there is a hacky solution to make it work correctly after selecting a value.

If you are trying to use this component, you can get the desired functionality by re-rendering it once you select an option, by assigning a `key` prop. Then whenever you change the value, just assign it a new `key`.

[code]

I haven't done a lot of testing, but it seems to be

[2018-08-02 10:09] paddotk opened #1874 "Autocomplete and Dropdown css scope issue"
Hi,

The Autocomplete and Dropdown components have generic stylings in their `theme.css` files. This causes other react-toolbox components and plain DOM elements to inherit these stylings, while they shouldn't.

The specific issue I'm having is that I have a page with an `<Input>` component and an `<Autocomplete>` component. The `Input` is showing a downward-pointing arrow/caret, making it look li

[2018-08-02 14:47] paddotk commented on #1029
@javivelasco I'm not sure what you mean by your last comment. Is the scrollbar going to be there at some point? Is there a way to manually override this myself? (Setting overflow:auto on any of the divs or ul doesn't work).

[2018-08-02 20:21] matthax commented on #1246
Any plans on getting this into NPM?

[2018-08-08 18:48] cjhanrahan opened #1875 "Bug: Expired tokens crashing admin webapp"
It looks like one of my recent changes is causing the admin app to crash when a token is expired. There is an undefined error that occurs in the loadUsersInFirmIfNecessarySaga.

[2018-08-08 18:49] #1875 closed, assigned to nobody

[2018-08-08 18:49] cjhanrahan commented on #1875
I meant to open this in a different repo, I had too many tabs open and went to the wrong one. Sorry!

[2018-08-12 16:00] comatory commented on #1870
Oh boy having probably the same issue:

![](https://cl.ly/0T45392e241s/Screen%20Recording%202018-08-12%20at%2005.57%20PM.gif)

I will try the solution above although I'm not sure it'll work for me, it is pretty hacky indeed. @jamesmarrs feeling like sharing a link to PR, or do you have any estimate on when the patch could be in the release? I'm using `2.0.0-beta.13` so I know I'm bound to run into

[2018-08-15 08:23] ulfryk opened #1877 "Inconsistent input behaviour (disabled)"
First of all thanks for great job on this library!

When disabling focused input and re-enabling it in FireFox, input still is focused (seems to be good behavior :) ).

In the same situation in Chrome, re-enabled input does NOT regain focus

[2018-08-16 10:47] b-hayes commented on #1777
I need this feature as well to ensure a valid place is selected. Wanted onkeyp to clear the stored place that might have been stored from a previous selection.

[2018-08-16 10:57] b-hayes commented on #1777
Actually I found you can bind keyup event the way you would normally without using places event listeners.
autocomplete = new google.maps.places.Autocomplete(... etc etc

and then use:

$(document).on('keyup',autocomplete,function () {
            alert('keyup');
        });

This worked for me I hope you find it helpful.

[2018-08-17 22:38] saeta-eth opened #1878 "Website unavailable"
Hello there!

As the title describes, the website is down.

<img width="664" alt="screen shot 2018-08-17 at 19 37 25" src="https://user-images.githubusercontent.com/15804684/44291481-fec3d680-a254-11e8-8e9b-3521cdd2ff6a.png">

[2018-08-17 22:48] saeta-eth commented on #1878
I can get access from [http://react-toolbox.io/](http://react-toolbox.io/) but it doesn't have SSL certificate.

The link you see in the repository description ([http://www.react-toolbox.io](http://www.react-toolbox.io)) still broken.

Hope it helps.

[2018-08-18 10:25] havantuan opened #1879 "Render component title in AppBar"
How to render compoenet in title AppBar ?

[2018-08-18 10:49] #1879 closed, assigned to nobody

[2018-08-19 21:01] charleslaw opened #1880 "Multi-select"
Thanks for this great library!  The components look great and it's been really easy to use.

There is 1 component that I cannot (easily) port over to using react-toolbox, and I would like to get it added to react toolbox, it's a multi select dropdown.  I am currently using https://github.com/Khan/react-multi-select which works well, but looks out of place with the rest of the UI.

Assuming it was

[2018-08-20 17:21] hansena commented on #1880
@charleslaw this is effectively the same functionality as the autocomplete...  is it just the display that you want to change?

[2018-08-20 18:48] pfortes opened #1881 "Url of website is incorrect in repository description."
Hello, i just wanted to let you know that the URL in the repository description is redirecting to a https version of the www subdomain and you get a 404 error.

http://www.react-toolbox.io --> gets you to: https://www.react-toolbox.io/ and it should get you to http://react-toolbox.io

[2018-08-21 17:58] saeta-eth commented on #1881
Duplicated: https://github.com/react-toolbox/react-toolbox/issues/1878

[2018-08-24 03:24] devzsolt commented on #1870
Is there a real fix out there for this? I can confirm that 2.0.0-beta.13 is broken too, the hacky re-rendering helps but it's an ugly solution so would be nice to see a real fix.

[2018-08-24 05:20] jamesmarrs commented on #1870
@comatory @devzsolt I haven't been following this too close nor been working on any PR, but I thought #1872 was the fix for this. Just trying to supply a temporary solution for anyone that wanted to use this component in the meantime!

[2018-08-24 06:38] comatory commented on #1870
@jamesmarrs thanks for the fix for sure! I've used it and for my usage it's fine. I can't tell from the PR to which version the fix will go, is it going to be next beta version?

[2018-08-24 11:42] weizlini opened #1882 "date_picker header always says {dayOfWeek}, {month} {date} not proper internationalization"
use momentJS or something that has all the languages we need and actually produces readable dates in languages other than English, bonus no need to create internationalisation files, instead generate it on the fly

[2018-08-25 06:50] charleslaw commented on #1880
Yes, I think that's a good way to describe it.  The display would be pretty different, and the behaviour would be different in some ways too.  Putting it into a dream list, I come up with:

* Selecting an item doesn't close the dropdown menu, so if selected/deselecting multiple items, the menu doesn't have to be re-opened
* There would be the addition of a "Select/Deselect All" option at the top o

[2018-08-28 19:10] jacargentina commented on #1870
@javivelasco can you apply #1872 please please please, and publish it.... please!

[2018-08-31 07:45] comatory commented on #1870
@jacargentina @devzsolt you guys could easily make a patched version. Just fork the repo, apply the patch https://github.com/rezak-otmani/react-toolbox/commit/e655e6ccad06afba962576bc8650c3a0b35393c2 and put the package somewhere for NPM to read it.
It seems like the fix is pretty easy:

`components/dropdown/Dropdown.js`

lines 183, 184:
[code]

Once it's fixed in stable just change where your `pa

[2018-08-31 12:50] jacargentina commented on #1870
@comatory maybe I should start using https://www.npmjs.com/package/patch-package
@javivelasco Why so slow on applying minimal fixes like this?

[2018-08-31 13:23] comatory commented on #1870
@jacargentina let's keep things civil. This is open source project, maintainers don't get paid to do this. My guess is they have lots of these little fixes so maybe they want to fix all of things at once.

This bug is not nice but it's not complicated to fix. If you need this in production, I recommend forking this repo, apply the patch and point `package.json` to it (it can read git repositories

[2018-08-31 13:59] jacargentina commented on #1870
@comatory 👌

**But**, your fix has a problem with:
[code]
The error says, you cant pass a boolean to a handler expecting a Function.

[2018-08-31 14:10] rubenmoya commented on #1870
I left a small comment about the `onMouseDown`, which I think should be removed, since that check didn't make any sense even before the change, I'll merge it once it's changed

[2018-08-31 14:29] jacargentina commented on #1870
@rubenmoya I'm testing the PR and even removing the onMouseDown, i'm having strange behaviours when using the Dropdown in a modal dialog

[2018-09-02 20:19] charleslaw commented on #865
I had some trouble getting this working.  The comment above plus an example I saw here: https://github.com/le0pard/mpw.js/blob/7eb1160cf1d748409b0233945b7a780405476ec3/webpack.config.js#L38 made it click in my head.

I added this at the top of my webpack config: `const cssnext = require('postcss-cssnext');`

and then in the module.exports I had a module.rules entry that had the css loaders.  I tur

[2018-09-02 20:30] clawconduce commented on #865
#1392 is really helpful too

[2018-09-02 20:31] charleslaw commented on #865
#1392 is really helpful too

[2018-09-11 04:41] fabiendeborde commented on #1882
I am having the same issue, and changing the template {shortDayOfWeek}, {shortMonth} {date}
to something like {shortMonth} {date}, {shortDayOfWeek} doesn't seem to work.
If this line inside DatePickerDialog is not the one setting the header, I can't figure out where the header is created.
Does anyone got any info on this question?

[2018-09-11 04:58] fabiendeborde commented on #1882
Ok so I could modify the header template by changing the line 125 of the DatePickerDialog.js file inside the /components/date_picker, and also around the lines 125 of the DatePickerDialog.js file inside /lib/date_picker.
I had tried before to change these without success, but after restarting the local server it worked.

[2018-09-27 19:51] jacargentina commented on #1870
I've just found that the only way to make it work RIGHT, is to remove both the onFocus and onBlur. I'll try to put a PR on this

[2018-09-28 22:38] #1868 closed, assigned to nobody

[2018-10-02 21:45] mazunind commented on #1278
Tried all of the above methods. The one @alexlapinski proposed helped me get some of styles and animations, but it still doesn't load all of them

[2018-10-05 09:01] giacomo-cosimato commented on #1676
Any news on this?

[2018-10-08 09:01] paddotk commented on #1029
I made a PR to fix this issue. The issue has been around for some time and has pretty harsh effects, since users do not know the dropdown lists contain more items.
See https://github.com/react-toolbox/react-toolbox/pull/1885

[2018-10-11 08:42] ghost opened #1886 "Dropdown dragging issue"
If you dragging upon the Dropdown component, It pops its menu. But It is not natural.
For all those most UI Elements, (in your OS or HTML default components)
If you drag upon them it does not activate, just shows that it is pressed.
I suggest that Dropdown should not be active `ondrag` event.
If you don't mind I'll fix some handler events in `Dropdown.js`

[2018-10-11 18:17] codycaldwell opened #1887 "Input component causing accessibility violation"
The Input component defines an input tag along with a role attribute equal to 'input'. This causes some accessibility scanners to raise the following violation:

_"The WAI-ARIA role(s) and/or attribute(s) input are not valid for the element input"_

Is there a way we can remove the redundant role or at least provide a way to override the value?

[2018-10-20 22:15] jmetev1 commented on #1844
I tried to see what was the problem here. But it seems to work as (far as I understand) desired. I guess it was unclear if @vovkind was changing props in their use of Autocomplete or on the source code itself. Or maybe this was just already addressed and nobody closed this? @hansena I looked for a pr by @daliclass but didn't see anything.

[2018-10-25 22:21] pnachum commented on #1714
Is there any update on this issue?

[2018-10-27 21:11] vitalif commented on #1488
@rubenmoya Please comment
How to override your styles? I'm also using !important everywhere, but it's an awful solution.
I don't want to use react-themr or something else.
Maybe throw away CSS modules ?)

[2018-10-29 01:14] thedanchez opened #1892 "[QUESTION] Can I use a custom font other than Roboto with React-Toolbox? Also, are the Components here Responsive in nature?"
Hi, I'm in the market for a React UIKit library and stumbled across this project. It looks really great! Love the playgrounds on the main site. I've got two main questions

I'm curious what the restrictions/constraints are as far as typography and iconography is concerned? Would I be able to use another font besides the specifically mentioned Roboto font?

Question two is, the app I'm building is

[2018-11-04 23:11] ylacaute opened #1893 "[Question] Any examples with Webpack4 + SASS + Theming ?"
I am using RT 2.0.0-beta.13 and I am stuck with Theming.

- Injecting styles directly in the sass-loader works but globals variables (primary color, etc) are not override
- Using the JS as described in the README with post-css/postcss-preset-env just do nothing.

I checked the mobx demo but :
- there are hacks everywhere in the webpack config
- this project does not override global theme variables

[2018-11-05 22:49] #1865 closed, assigned to nobody

[2018-11-14 21:51] acthp opened #1895 "progress bar cpu usage is extremely high"
Circular progress bar, tested on various platforms, consumes between 16% and 100% cpu, due to heavy css animations. This isn't really usable in production to indicate progress to the user, though it's good for turning on their fans.

[2018-11-18 06:14] sudhirsaboo opened #1896 "Tabs with Theme provider error"
When using tab with ThemeProvider getting this error. Other components like input work fine.

`TypeError: Cannot read property 'pointer' of undefined
Tabs.render
node_modules/react-toolbox/lib/tabs/Tabs.js:240
  237 |     headers = _parseChildren.headers,
  238 |     contents = _parseChildren.contents;
  239 |
 240 | var classNamePointer = (0, _classnames4.default)(theme.pointer, _defineProperty({

[2018-11-20 12:15] willianribeiro commented on #1551
Thanks for solution, @MasahiroMorita!

I just suggest using `max-height` instead of `height`. Using `height` will cause the dialog to occupy the full height of the container, even though the content does not need it and that makes it look ugly.

[2018-11-20 16:20] RrNn commented on #1456
I actually got a hack for it. Create a custom class for it and import it in the file where you are using the `Tooltip`, as `theme`, then high jack the `theme` like so, `theme.tooltipInner = '<your_custom_class>'` bacause at this point it is an empty object. Then on the `Tooltip` add a prop `theme` and equate it to `{theme}`, Everything should look like this,

*import theme from file that has a cus

[2018-11-26 18:09] TimoRuetten commented on #1855
We got the same problem and are now using inverse, primary or accent. The documentation is wrong here in my opinion because it says for the button theme property: "Used for the root element in any button."

[2018-11-27 15:50] dusty opened #1897 "Parcel Bundler configuration"
I am trying to use react-toolbox with parcel bundler and it looks like I'm missing something.  I was hoping someone had some insights.

I put together a codesandbox of a simple react app using css modules here:

https://codesandbox.io/s/31qko09356

Below is a screenshot, you can see that the Button does have a data-react-toolbox attribute, but it isn't styled.

Any ideas?

<img width="1439" alt="s

[2018-11-30 07:04] luchillo17 commented on #1378
Yes, it's still valid, i still see the dependency, haven't been moved to peer ones yet, although the library does expose the `ThemeProvider` so maybe just use that one?

I would say the issue is that the docs doesn't tell you you can import the provider directly from `react-toolbox`.

[2018-12-01 23:37] luchillo17 opened #1898 "[Bug] React Toolbox Themr is dead, replacement or workaround?"
So i've recently tried to use React Toolbox with CRA, seems i need to run react-toolbox-themr per the readme instructions, but the project is dead, last commit was **Feb 11 2017**.

Do i have to eject CRA in order to use React Toolbox?

[2018-12-01 23:39] luchillo17 commented on #1787
Seems React Toolbox is receiving updates, but React Toolbox Themr is indeed dead since **Feb 11 2017**, seems i cannot use this with CRA, do i have to eject?

[2018-12-11 20:20] solics commented on #1493
That resolver my problem.

[2018-12-12 05:16] aguilera51284 commented on #1893
with postcss-preset-env v6.2.0 dont work :(!

[2018-12-12 22:00] olamalu-cc opened #1900 "Autocomplete throws error with react-css-themr"
I was getting an error with an error being generated by ThemedAutocomplete (null error at line 216 Object.keys(mixin).forEach(function (key) { ) in components/themr.js).

I believe this export in Autocomplete is the issue line 434:-
`export default themr(AUTOCOMPLETE, null, { withRef: true })(Autocomplete);`

Replacing it with an object worked for me:-
`export default themr(AUTOCOMPLETE, {}, { wit

[2018-12-14 11:09] hamza-hajji commented on #1361
If you look at the following piece of code

https://github.com/react-toolbox/react-toolbox/blob/dev/components/radio/RadioGroup.js#L29

It's apparent that you could give the wrapping element a value prop and make it work, but for some reason the `handleChange` callback is not called.

[2018-12-18 17:50] gdamota commented on #1523
<img width="180" alt="screen shot 2018-12-18 at 9 49 31 am" src="https://user-images.githubusercontent.com/35322499/50172587-42cdf300-02aa-11e9-8546-ccc4f64dd896.png">
is this acceptable. The popover tag was throwing a bunch of random react errors.

[2018-12-19 10:27] Akashsystematix opened #1901 "How to add two firebase configs in react native"
I tried with two configs and with different classes and there is an error on app Firebase App DEFAULT already exist

[2018-12-19 10:29] Akashsystematix opened #1902 "Datetime Picker has a property minimum and maximum date but this prop is not working"
Datetime Picker has a property minimum and maximum date but this prop is not working
![simulator screen shot - iphone 6 - 2018-12-19 at 15 44 24](https://user-images.githubusercontent.com/44599994/50214718-f4eae500-03a6-11e9-8f1f-bc46a5005222.png)
![simulator screen shot - iphone 6 - 2018-12-18 at 14 25 10](https://user-images.githubusercontent.com/44599994/50214726-fd432000-03a6-11e9-963c-933f915

[2018-12-26 11:26] oliviertassinari commented on #1787
👋 from Material-UI.

I'm coming back to this project [3 years later](https://github.com/react-toolbox/react-toolbox/issues/39). I have been following what you guys are doing closely since the first release of the project. It had a great influence on the direction Material-UI took. At some point, I was even benchmarking your component's implementations (now, I tend to benchmark with Bootstrap, Vuet

[2018-12-26 13:56] bskimball commented on #1897
I think you should check out react-toolbox-themr https://github.com/react-toolbox/react-toolbox-themr. They have an example for create-react-app which is similar to what you would need to do with parcel

[2018-12-28 21:32] quetzaluz opened #1903 "Web Content Accessibility Guidelines; checkbox focus"
I currently work for a health care company and we got a complaint in regards to WCAG (Web Content Accessibility Guidelines) for our checkboxes.

Our code currently applies the default checkbox focus styling seen here:
https://github.com/react-toolbox/react-toolbox/blob/73d5e082f1689579366af8bc7f4ac2a88c194124/components/checkbox/config.module.css#L8

However, the complain pertained to this being n

[2018-12-28 21:36] quetzaluz opened #1904 "Readme.md#theming-configuration-variables broken links"
There are currently two broken links in the README.md:
https://github.com/react-toolbox/react-toolbox/blame/dev/README.md#L225
https://github.com/react-toolbox/react-toolbox#theming-configuration-variables

The files referenced for `colors` and `variables` no longer exist or throw a 404 for some other reason.

[2018-12-28 22:16] quetzaluz commented on #1903
Specific WCAG guideline: https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-focus-visible.html

Which contains the specification that it should be highly visible: https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/G195

[2019-01-02 13:46] darklilium opened #1906 "Input pattern prop"
Hello,

Im wondering how to use the pattern property from input in html to Input comp in this lib.
I setted up a pattern but seems like the pattern prop in the lib is not working.

I want to allow the user only type numbers and letters , not special chars like #,$,%,&,etc.
So i did this:
```<Input pattern="^[a-zA-Z0-9]*$" />```

Thanks

[2019-01-04 01:59] #1840 closed

[2019-01-05 23:09] lantanios commented on #608
any solution so far?

[2019-01-10 16:23] dusty commented on #1897
Thanks I'll take a look at themr.

[2019-01-10 16:23] #1897 closed, assigned to nobody

[2019-01-17 06:26] livingmine commented on #1157
Here is the @ahfarmer 's [solution](https://github.com/react-toolbox/react-toolbox/issues/1157#issuecomment-309308784) migrated for Gatsby v2.

[code]

[2019-01-17 14:50] luchillo17 commented on #1787
@oliviertassinari I agree with you, i had to move to Material-UI to be able to use themes, which in an enterprise level app is not that uncommon, if the base project in React-Toolbox depends on React-Toolbox-Themr, but the package itself is abandoned, it's the same as saying we can't create more than 1 theme in React-Toolbox.

Deprecating React-Toolbox and uniting the community around Material-UI

[2019-01-21 03:53] jricaldi opened #1908 "Missing source and model props in Table component d.ts"
Missing source and model props in components\table\Table.d.ts
[code]

[2019-01-21 21:00] k3ntako opened #1909 "Dropdown: onMouseDown should be given undefined, not false, when disabled"
## Issue
On React Toolbox 2.0.0-beta.13, console prints an error when an option in the Dropdown is disabled:
[code]

## Code
[code]

## Fix
In `/components/dropdown/Dropdown.js`, change
[code]
to
[code]

[2019-01-22 01:22] k3ntako commented on #1900
Made a PR with a @olamalu-cc's fix, https://github.com/react-toolbox/react-toolbox/pull/1910.

[2019-01-28 02:24] ntucker opened #1911 "Don't use componentWillReceiveProps - React 'concurrent' mode compat"
This is deprecated anyway and is needed to support React concurrent rendering.

see https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html (almost a year old!)

[2019-01-28 02:25] ntucker commented on #1911
BTW: Love your library especially using CSS modules. :)

[2019-02-02 02:01] TomFaulkner commented on #1878
Six months later and I was just about to report this issue.

[2019-02-06 22:26] fabriziocucci opened #1912 "Add option to place selected items inside input element"
I was thinking about something similar to what [react-select](https://react-select.com/) does:

<img width="571" alt="react-select" src="https://user-images.githubusercontent.com/8156463/52376373-e5f4ea80-2a59-11e9-8dc2-a8abd67105dc.png">

Maybe configurable with something like `selectedPosition="input"`.

[2019-02-07 17:03] paddotk commented on #1870
Thanks for the fix. I changed your `_.uniqueId()` (not sure what this is exactly) to a `Math.floor(Math.random() * 1000)` to always automatically have a new value, which was the solution for me.

[2019-02-08 06:45] jamesmarrs commented on #1870
@paddotk its just a function from a common utility library, your solution should work fine too!

https://lodash.com/docs/4.17.11#uniqueId

[2019-02-12 07:24] jricaldi commented on #1908
forget it, please update the documentation with the last version.

[2019-02-12 07:24] #1908 closed, assigned to nobody

[2019-02-15 20:12] targetcreature commented on #490
For anyone else coming across this, here's a quick solution:
[code]
The above works for maximum digits. For maximum values, replace `parseInt(val.toString().substring(0, maxLength))` with `max`

[2019-02-19 21:39] cthorner commented on #1715
Is there anything left to be done on this?

[2019-02-19 22:24] manuphatak commented on #1715
My company ... we forked react-toolbox like a year ago and moved on with our lives.

The PR I put in is technically breaking, as in requiring, a major version bump.  From memory, this was caused by `css-react-themr` and how refs are forwarded.   Unfortunately, there was no room for a major version bump, since version 2 and 3 were already designated for an incoming rewrite.

Anyway, you're welcome

[2019-02-27 05:13] rokoroku opened #1913 "Theming feature appears to be broken"
According to README.md file, theming feature can be achieved by `importFrom` feature from `postcss-custom-properties` module.

However, custom variables defined in `importFrom` does not take precedence above bundled css anymore (maybe since `postcss-custom-properties@8`)
Take a look at: https://github.com/postcss/postcss-custom-properties/issues/148

So I'd suggest using `postcss-env-function` wit

[2019-03-14 09:26] jzaburunov commented on #1795
@guacamoli Hey

Could tell more about how chrome works with label and input name in this point please

[2019-03-19 01:11] seungyeub opened #1915 "can not open page"
https://www.react-toolbox.io/

I tried to visit the site to use the react-toolbox.
However, the page does not open.
Please check.

[2019-03-25 20:49] marvinhagemeister commented on #1676
@ralphsmith80 Can you check if this issue still occurs with Preact X? We've basically rewritten Preact from scratch and fixed many compatibility issues from `8.x` 🎉

[2019-03-28 15:22] mienaikoe commented on #1870
Made a workaround using `new Date().getTime()` in the key instead of having to add lodash to my project or having it not work 0.1% of the time.

[2019-03-31 15:19] JoshK2 commented on #1915
I see it's because www in the URL, they did not do a redirect from www.

[2019-03-31 15:21] JoshK2 commented on #1915
You can still access the website from this URL http://react-toolbox.io .

[2019-04-01 08:17] paddotk commented on #1870
I don't get the 'sex field' reference? What has this got to do with react-toolbox?

[2019-04-01 19:26] mienaikoe commented on #1870
@paddotk github will auto-refer issues when you copy/paste them into a different PR/Issue. In my case, this was blocking a different project I was working on so I pasted it there, not realizing it would refer it here. Unfortunately, Github doesn't allow anyone to remove it.

With regards to your fix, I don't think that's very safe, because there's a chance, although slim, that a random number 0-10

[2019-04-02 17:32] paddotk commented on #1870
@mienaikoe Ah I see, thanks for the clarification :p

I realize there is a tiny chance that the updated number is the same as before, but since it may only happen in a rare case that the user cannot close the dropdown, it's good enough for me.

[2019-04-04 06:39] damtea commented on #1523
This solves my problem

[2019-04-04 08:29] seungyeub commented on #1915
thank you.

[2019-04-04 08:29] #1915 closed, assigned to nobody

[2019-04-11 03:55] ralphsmith80 commented on #1676
@marvinhagemeister it's been a while since I've tried to work with this but it doesn't look like it's work.

`package.json` dependencies
[code]

App test code
[code]

`preact.config.js` - I think this would still be needed
[code]

### Error and Warnings

- Warning: Failed prop type: checker is not a function
- Uncaught TypeError: Cannot convert a Symbol value to a string

[2019-04-19 03:37] #1721 closed

[2019-04-20 03:20] mienaikoe commented on #346
webkit browsers now have the `-webkit-autofill` pseudo class when an input as autofilled. You still can't get the value from it, but you can know that a value exists. Perhaps react toolbox can move the label out of the way if it detects that the input element has this psuedo class?

[2019-05-17 02:43] rokoroku commented on #1535
This library seems to be unmaintained, but for those who suffer from this issue I share my silly workaround here:

[code]

This may work on `2.0.0-beta.12`.

[2019-05-22 20:07] preethamwilfredjohn opened #1917 "Invalid prop `children` supplied to `DropdownItem` expected a ReactNode"
I am using reactstrap dropdown. And I am trying to populate the dropdown items using a map function

    render() {
        return (
            <Dropdown isOpen={this.state.open} toggle={this.toggle}>
            <DropdownToggle caret>
                {this.props.name}
            </DropdownToggle>
            <DropdownMenu>
                {this.props.items.map(function(item) {

[2019-05-22 20:08] #1917 closed, assigned to nobody

[2019-05-28 17:02] alexhisen commented on #1902
min and max should be Date() objects, then they work just fine.

[2019-05-29 18:45] #1904 closed, assigned to nobody

[2019-05-31 20:05] MattBoatman commented on #1859
Did you ever find a work around for this?

[2019-05-31 20:07] DavidHenri008 commented on #1859
No...

[2019-05-31 20:11] MattBoatman commented on #1859
I'm not sure closing this is the right move.

[2019-06-03 10:50] DavidHenri008 commented on #1859
Let's reopen it.

[2019-06-07 16:31] januszhou commented on #1913
I'm seeing this issue as well, I had to install `"postcss-custom-properties": "^7.0.0"` and set `custom-properties: false`, I hope this helps.
[code]

[2019-06-10 13:28] miloharper commented on #1858
As @DavidHenri008 says the documentation on the website for Table lists `model` and `source` as props, which relates to an older version of React Toolbox:

http://react-toolbox.io/#/components/table

I think the website needs to be updated to the new md file:

https://github.com/react-toolbox/react-toolbox/blob/dev/components/table/readme.md

[2019-06-11 18:57] alexhisen opened #1918 "ramda missing in dependencies"
"ramda": "^0.23.0" used to be in package.json's dependencies, but is now gone, so webpack compilation fails without it.

[2019-06-13 18:35] januszhou opened #1919 "Portal cause context broken in React 16"
The current `Portal` created by `ReactDOM.unstable_renderSubtreeIntoContainer` isn't support new context API, it should start using `ReactDOM.createPortal` instead. I'm willing to open a PR if needed

reference: https://github.com/facebook/react/issues/12493

[2019-06-25 07:59] alexhisen commented on #1892
You can set the preferred-font variable to whatever you want.

[2019-07-16 11:32] AltitudeTech opened #1924 "TypeError: (0 , _Ripple2.default) is not a function"
this is the content of next.config.js

const withCSS = require("@zeit/next-css");
const internalReactToolboxDeps = /react-toolbox(?!.*node_modules)/;
const externalReactToolboxDeps = /node_modules(?!\/react-toolbox(?!.*node_modules))/;

module.exports = withCSS({
  cssModules: true,
  cssLoaderOptions: {
    importLoaders: 1,
    localIdentName: "[local]__[hash:base64:5]"
  },

  webpack: (config,

[2019-07-22 13:35] paddotk commented on #1909
Same issue here. Have you found any temp workaround perchance, @k3ntako ?

[2019-07-25 03:58] LaughingBubba opened #1925 "Parcel Bundler - Support for the experimental syntax 'exportDefaultFrom' isn't currently enabled"
Hi there, I'm trying to use the Parcel Bundler with RT and am getting these issues (below). I've done my best to ensure babel 7 is set up correctly.

<img width="1434" alt="RTP1" src="https://user-images.githubusercontent.com/1077530/61843628-c9514f80-aedf-11e9-8f8b-ea411d096658.png">

<img width="1434" alt="RTP2" src="https://user-images.githubusercontent.com/1077530/61843636-d110f400-aedf-11e9-8

[2019-08-09 09:34] MaxPecheniuk opened #1926 "Need help with Webpack+SCSS+Typescript+SSR"
I after installation I have error
[code]

At server side I have `css-modules-require-hook`

Webpack config:
[code]

[2019-08-14 13:41] #1926 closed, assigned to nobody

[2019-09-04 20:52] alansouzati commented on #1715
FYI I could not find `@bionkspoon/react-toolbox` on NPM.

Here is what I did:

1. Delete `node_modules` to make sure to start from a clean slate

2. Inside `package.json` replaced `react-toolbox` with `react-toolbox-legacy` with version `1.5.6`

3. Use webpack alias to avoid big `import` changes

[code]

[2019-09-04 23:42] manuphatak commented on #1715
Weird!  I just double-checked if it was published.   It's still there:  https://www.npmjs.com/package/@bionikspoon/react-toolbox.  Honestly, though, I have 0 intent to maintain this fork.   I moved on from the company using this work.  Even when I was there, we considered this project legacy.

[2019-09-14 15:40] voroninviktor opened #1927 "Wrong link in online doc"
Hi!

I've found a wrong link at the bottom of [this](http://react-toolbox.io/#/components/input) page of online doc. It points to react-toolbox.**com**

[2019-09-17 12:32] AndrewMerke opened #1928 "Date picker calendar dialog is moving DOM to the top"
I have problem with react-toolbox's date picker and want to ask maybe someone had same problem. So, when I click on date picker input calendar dialog opens and moves background to top of the page. I want that modal would open on same position, where I am clicking.

I am using very simple date picker:
[code]

Maybe some had same problem with other dialogs? I would appreciate for any help.

[2019-09-26 14:31] cdeutsch opened #1929 "Install docs appear out of date"
The [Install Docs](http://react-toolbox.io/#/install) say:

That doesn't appear to be the case any more.

I'm having a hard time referencing the new CSS variables from my project's `.css` files.

[2019-09-26 15:06] cdeutsch commented on #1929
Never mind.

I figured out I'm looking at the `dev` branch which is in Beta.

Although when you do `npm install react-toolbox` you're getting the Beta version, so this is all very confusing and although I love the idea of re-using the colors and variables in my own `.css` I've yet to get it to work, and I'm not convinced PostCSS is the right choice. Way harder to get working than SASS

[2019-09-26 15:06] #1929 closed, assigned to nobody

[2019-10-02 03:38] theajr commented on #1887
@rubenmoya

As per [MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/textbox_role), we don't need to have role for semantic elements i.e. input and textarea etc.

role should be **textbox** instead of **input**

[2019-10-14 21:37] ashwinravianandan opened #1930 "input component is not styled as in component demo"
I see a very big difference in the way the input component is styled in my project.  I have copied the code used in the website (demo of input component) for the sake of comparison.  Screenshot attached.
As rendered in my project:
![image](https://user-images.githubusercontent.com/15066965/66784630-a63fa600-eef8-11e9-91c5-20253dfd052c.png)
Demo:
![image](https://user-images.githubusercontent.com/1

[2019-10-14 21:55] ashwinravianandan commented on #1930
this is my postcss.config.js
[code]

[2019-10-15 16:03] theajr commented on #1906
@darklilium

#### This is not specific to this library.

`pattern` attribute won't restrict user while typing the value, it is used to validate the input filed value before submitting the `form`.
`type` attribute will restrict the user input.
Example: if you mention `type=number`, user can only enter numbers. But for your use case you can't use `type` attribute.

So you can write a custom wrapper

[2019-10-15 16:06] theajr commented on #1906
@darklilium you can close this issue if you are happy with the provided explanation and code.

[2019-10-15 16:29] #1930 closed, assigned to nobody

[2019-10-15 16:30] ashwinravianandan commented on #1930
solved this by choosing specific versions of a few dev packages.

[2019-10-15 16:31] theajr commented on #1927
@rubenmoya your [PR](https://github.com/react-toolbox/react-toolbox/commit/b0a7533e7c7097076f8df3492addc73e0e29e7ce#diff-2d3fa5e511537cace3d7d53dea6f9c78) was merged to `dev` branch fix this in 2017 but site is showing docs from `master` branch which is having the wrong link.

@javivelasco I guess, `dev` branch should be merged to `master`, little more frequently.

[2019-10-15 17:09] #1906 closed, assigned to nobody

[2019-10-21 10:42] nmalocic opened #1932 "[Question] Encoding"
Hi i have a case where i need to call Dialog or other components.

And i pass title that i got from translations and my special chars are encoded and shown as &#39;

Is there any way to tell react component to show this instead of encoding?

Thanks

[2019-10-23 21:18] LarsMontanaro commented on #1471
+1

[2019-11-14 01:06] MasahiroMorita opened #1933 "react-toolbox domain is down (http://react-toolbox.io/)"
This has happened again.

[2019-11-14 16:01] paddotk commented on #1932
It would help if you shared some of your code. Are you saying that all special characters are rendered as apostrophes `'`? In that case, you might need to parse them as html first or use ISO codes for these characters (.e.g `&quot;` instead of `"`).
Either way, I don't think this is related to react-toolbox components.

[2019-11-15 07:44] sarvesh-mobikon commented on #1933
We are facing same issues.

[2019-11-15 15:06] michael-papinotas commented on #1933
Still down

[2019-11-19 22:08] ryo-iso commented on #1933
Temporary local doc file.

[react-toolbox-docs.zip](https://github.com/react-toolbox/react-toolbox/files/3866283/react-toolbox-docs.zip)

[2019-11-21 17:35] Saikat-Sinha commented on #1933
This works too: https://web.archive.org/web/20190508131924/http://react-toolbox.io/#/

[2019-11-26 14:36] saeta-eth commented on #1933
Duplicated: https://github.com/react-toolbox/react-toolbox/issues/1878 and https://github.com/react-toolbox/react-toolbox/issues/1881.

BTW, I can open http://react-toolbox.io/.

[2019-12-10 18:32] aimerib commented on #1712
I too would like to see a change to allow HTML nodes for caption. In our usecase we pass `<span><u>T</u>ext</span>` as the caption to get an underline for menu items which we also provide keyboard shortcuts for. Currently we just ignore the proptype warning, as this works just fine, but we would love for this to be supported behavior. I'd also be happy to contribute with a PR if there's enough int

[2019-12-11 10:40] kaleshasheik opened #1934 "No scrollbar in chrome if we have multiple items in dropdown"
Hi ,

 In chrome browser, there is no Vertical scroll bar if we have multiple items in dropdown. Seems, overflow is set to hidden? Is this a bug or I am wrong here ?

Thanks,

[2019-12-13 15:46] qureshitauqeer3 opened #1935 "Failed to compile :( dont know what happened"
./src/components/directory/directory.component.jsx
Module not found: Can't resolve './directory.styles.scss' in 'C:\Users\tauqir\Desktop\react ecommerce\crwn-clothing\src\components\directory'
#1694 #1134

[2019-12-15 22:16] s-chand opened #1936 "Website is down: https://www.react-toolbox.io/"
I just checked this out and it seems the deployment wasn't successful Please have a look. Thanks

[2019-12-23 02:25] khantopa commented on #1323
Execute the onBlur in setTimeout  like

[code]

[2020-01-23 05:01] Pratikshit26 commented on #490
I tried the same with Ant design ,it dosn't work for type ="number".I removed type and the maxLength property worked for me .I think it a react issue.
![Screenshot 2020-01-23 at 10 31 33 AM](https://user-images.githubusercontent.com/44422899/72957966-8d823e80-3dcb-11ea-9df9-c3687aa9f43b.png)

[2020-02-28 13:50] chuckpavsp opened #1938 "[Question] Text-wrapping on labels"
I have encountered an issue where I need to be able to wrap the text for a checkbox label. Read through the docs and am unsure of how to do this.

<img width="385" alt="Screen Shot 2020-02-28 at 8 51 09 AM" src="https://user-images.githubusercontent.com/42976507/75554056-9805a880-5a07-11ea-927c-899187188919.png">

[2020-02-29 02:41] dimitropoulos opened #1939 "This project has been added to the react-ui-roundup"
Hi!

I am making this issue just to let you know that I've included your amazing project in the [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup).

For more information see https://github.com/dimitropoulos/react-ui-roundup/issues/2.

Please feel free to close this issue at will - I just wanted to let you know :smile:.

Thanks!

[2020-03-24 00:58] alexhisen commented on #1893
https://github.com/alexhisen/mobx-forms-demo has been updated to Webpack 4 and should definitely build, work and it does override theme variables. Note that react-toolbox 2+ uses PostCSS, not SASS. For theme variable overrides to work, some fixes to react-toolbox need to be merged in from outstanding PRs from https://github.com/neophytosd/react-toolbox

[2020-04-05 21:28] campidelli commented on #1351
Hi there! Is this project still maintained? This is from 2017 and would be very good to have a way to uniquely identify components (for automated tests, track usage, etc).

[2020-04-05 21:55] campidelli commented on #1351
BTW, for anyone who might have this issue, I simply added an ID attribute to the button component and it worked. It would be good to add this to the component documentation page.

[2020-04-24 15:59] nnradovic opened #1940 "toolbox"

[2020-04-25 00:07] dinuddin commented on #490
i have simple :<input pattern= “^[0–9]$”  class="form-control" id="xxx" placeholder="xxx" name="xxx" maxlength="16" required>

[2020-05-05 12:10] kosumoff commented on #490
It's because default value for type is 'text'.

[2020-06-01 09:39] Richacinas commented on #865
@charleslaw I can't manage to make this work with a similar config..

[code]

Any idea why the custom theme variables are not taking effect?

Thanks a lot

[2020-06-05 14:58] jpabeem commented on #1330
Adding `component="tbody"` to `ReactCSSTransitionGroup` seems to be the suggested approach, I however still can't get animations working for table rows unfortunately.

[2020-06-10 22:13] Vrturo commented on #1893
hey @ylacaute were you ever able to get past this?

[2020-06-10 22:15] alexhisen commented on #1893
You need to use the fork referenced above for theming variables to work right

[2020-06-17 15:00] YoannBuzenet commented on #1523
How do you handle Mui checkboxs if there must be no boolean ?

[2020-06-22 15:58] jitension commented on #1523
You can do something like this if it's relevant:

`<TableRow>
	<TableCell size="small">
		{this.state.checkbox ? (
			<Checkbox />
		) : (
			<>
				{'Some Label'}
				{this.state.tooltip && (
					<Tooltip title="Edit">
						<IconButton color="inherit" >
							<EditIcon fontSize="small" />
						</IconButton>
					</Tooltip>
				)}
			</>
		)}
	</TableCell>
<TableRow>`

[2020-07-01 18:55] mikehurl opened #1941 "Remove value from non-multiple Autocomplete"
When using the Autocomplete component, if I try to delete a value that I have previously selected, the value will not actually be removed - is there a way to do so with this component?

[2020-07-10 16:55] tettoffensive commented on #1323
I think this sounds like the best answer: https://stackoverflow.com/a/57630197/3023696

Use onMouseDown to prevent the onBlur from happening when an internal element is selected. The only caveat is that it prevents text from being selectable.

[code]

[2020-08-20 19:25] jordmantheman commented on #1453
I don't see this issue when running on the react-toolbox dev server.
But do when running our App in development mode (read: not production!). I suspect it has to do with this issue w/ react-hot-loader -- https://github.com/gaearon/react-hot-loader/issues/304

[2020-09-03 04:30] dimitropoulos commented on #626
hey :smile: I noticed that you're working on (or, at least, thinking about) building a Stepper.  The [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup) has a lot of other examples of Steppers that might be interesting or useful points of reference to you while you're developing it for react-toolbox.

https://react-ui-roundup.dimitrimitropoulos.com/#Stepper

[2020-09-30 00:47] acthp opened #1942 "tooltip breaks refs"
innerRef callbacks on components stop working when wrapped with Tooltip. Docs and examples provide no information about how to handle refs in Tooltip wrapped components.

[2020-10-09 16:24] #1471 closed

[2020-10-17 14:59] lamanIbrahimli commented on #791
- [ ]

[2020-10-30 23:00] alexhisen opened #1943 "Autocomplete isValueAnObject incorrectly checks for null"
isValueAnObject() checks typeof value === 'object' which is true for null, so if the component starts out with value of null, it always produces values that are objects, which is unexpected.

[2021-01-27 10:06] KarimOurrai commented on #1943
Hello
what's the behavior for Autocomplete in this case, because adding testing for null values will just produce the same result for the component.

[2021-01-27 19:44] alexhisen commented on #1943
The 'return value' of the component can be in different formats depending on the 'incoming value'. If null is not treated as an object, the component will return arrays like it normally does instead of objects, which it only does if the value provided to it is an object to begin with.

[2021-02-02 08:39] flipchart commented on #1936
Website is down again today

[2021-03-08 12:03] RARANEGARA commented on #490
Simple solution is. If we want to set min length 10 then set min="1000000000" as well as max length, if we want to set max length 20 then add max="99999999999999999999". It's will keep the input length in "number" between 10-20 digit.

[2021-03-29 01:43] literal-sushi commented on #1597
I have two inputs that need to be focused dynamically. Is there a way?

[2021-05-03 01:51] djeico commented on #490
sample:
`[...]
  handleInputChange = (e) => {
    let val = e.target.value
    let maxLength = 6 // <===
    let newValue = val < maxLength ? val : parseInt(val.toString().substring(0, maxLength));
    this.setState({ myProp: newValue });
  }
[...]

[...]
<input
      type="number"  // <=== number  ; )
      onChange={ e => this.handleInputChange(e) }
      name="MyProp"
      value={this.state.my

[2021-07-28 13:51] naz3eh commented on #1638
Can I work on this?

[2021-08-08 08:21] akashpatil14298 commented on #1638
Hi @rubenmoya , If nobody is working on this.. I would like to grab it...

[2021-08-08 09:35] naz3eh commented on #1638
I was willing to work on this issue but no one got back to me.

[2021-08-18 01:59] nikstrick commented on #1823
Is this issue still available?
I would love to try fixing it.

[2021-08-18 07:03] azzazkhan opened #1945 "Syntax Error"
Syntax Error: ../node_modules/react-toolbox/components/index.js: Support for the experimental syntax 'exportDefaultFrom' isn't currently enabled (24:8)

[2021-08-27 08:18] Chahat226 commented on #1599
Hey,
Can I work on this issue?

[2021-09-20 12:48] sneznaj commented on #1934
scrollbar is not needed for scrolling down

[2021-10-07 22:00] hordov123 commented on #1599
@michaellee8 i would like to work on this issue could you asign it to me?

[2021-10-07 23:09] michaellee8 commented on #1599
I am not a maintainer, please take it as you like.

[2021-11-14 16:09] tib-source commented on #1580
heya, can i work on this issue

[2021-12-09 20:24] wimpog commented on #1694
Anything new here? Will there be a **react-toolbox** release for **React 16**?

[2021-12-14 09:05] MiH0N commented on #1795
Surprisingly, my problem was solved, but I did not understand why
Put
`autocomplete="new-password"`
 to work correctly
Can you explain why?

[2022-01-12 14:00] ranveersequeira commented on #1350
Can I work on this? @rubenmoya

[2022-01-12 19:22] Creatoon commented on #1808
@rubenmoya can i work on this issue?

[2022-01-15 15:40] rajeev503 commented on #1599
hey can i work on this issue

[2022-01-27 10:58] ishivamshukla commented on #1945
The problem is export without default is not working in node.

You should use export default getMember or export { getMember } or export const getMember = async....

See: https://developer.mozilla.org/en-US/docs/web/javascript/reference/statements/export

[2022-02-23 01:35] azzazkhan commented on #1945
@ishivamshukla Brother the issue is in library's files and I can't modify them.

[2022-02-23 08:48] dcfw6l commented on #1523
You missed the return after the map:

{products.map(product =>
  return  <TableRow key={product.id}>
    <TableCell><div>{product.id}</div></TableCell>
    <TableCell><div>{product.title}</div></TableCell>
    <TableCell><div>{product.category}</div></TableCell>
    <TableCell><div>{product.price}</div></TableCell>
    <TableCell><div>{product.isAvailable}</div></TableCell>
    <TableCell>
      <

[2022-02-23 08:51] dcfw6l commented on #1523
You missed the return key after mapping the array:

`{products.map(product =>
  return <TableRow key={product.id}>
    <TableCell><div>{product.id}</div></TableCell>
    <TableCell><div>{product.title}</div></TableCell>
    <TableCell><div>{product.category}</div></TableCell>
    <TableCell><div>{product.price}</div></TableCell>
    <TableCell><div>{product.isAvailable}</div></TableCell>
    <Tabl

[2022-02-24 14:18] johan-smits commented on #1925
@LaughingBubba did you solved the issue?

[2022-03-03 03:24] carlokid commented on #230
Is this fixed?

[2022-03-26 21:14] ishivamshukla commented on #1945
The problem is related to export without a default is not working in node.

[2022-05-09 11:33] psd8 commented on #1599
I am getting error when i try to run documentation site on local, getting babel , I cloned project and created branch from dev

[2022-05-09 13:05] junaidn commented on #1788
Can I try to attempt it ?

[2022-07-18 16:35] ankushweb commented on #1795
for me autocomplete="new-password" is not working

[2022-08-19 20:07] wilcor opened #1949 "Unable to use it with Vite in react 18"
Hello,

I have add this react-toolbox but when I try to use i got this error message:

**node_modules/react-toolbox/components/index.js:24:7: ERROR: Unexpected "Ripple"**

any idea ?

Thanks !

[2022-08-30 11:10] MarcBroers commented on #1323
@khantopa

If anybody ever sees this solution and questions why it is voted down so much:
A client of mine had the onBlur/onClick order issue and used setTimeout as a solution but he still received lot of complaints from their customs.

Why? Because every browser handles the order of events and the time in between differently. So even with setTimeout, the Edge browser still had the same problem un

[2022-09-15 09:18] mohitdevelops commented on #490
A simple solution where you can have the maximum length and you can't write any text just numbers:-

<input
      type="number"
      placeholder="Contact no."
      value={phone}
      onChange={(e) => {
	      if(e.target.value.length == 11) return false;
	      setPhone(e?.target.value);
      }}
/>

[2022-09-23 06:50] ZahraShahid commented on #1350
I think we need to fix the icon to the right. Is the issue still open to work on?

[2022-10-21 10:08] Shubhamsahu19 opened #1950 "prettier config file missing"
everyone uses prettier code formatter , so everyone has different global prettier configuration, which leads to multiple unnecessary changes in file. So having a local prettierrc and prettierignore can eliminate these unnecessary changes.